<head>
  <meta charset="UTF-8">
</head>
<style>
  page-break-inside: avoid !important;
  margin: 4px 0 4px 0;
  @media print {
    table tbody tr td:before,
    table tbody tr td:after {
        content : "" ;
        height : 4px ;
        display : block ;
    }
    
}
table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
}
.avoid
{
  page-break-inside:avoid !important; page-break-after:auto !important; overflow: hidden; display:block !important; width:100% 
}
</style>
  <%total_value=0%>
  <%mslots=0%>
  <div class="content">
    <h2>Tabla de Switches</h2>
    <table border="1" width="100%"><thead><tr><th>Información</th><th>Referencia</th><th>Precio</th></tr></thead>
    <tbody>
        <%
        contadordeprecio=0
        if @request.ctype=="Campus"
            if @logical.redundancy?
                aux=2
            else
                aux=1
            end  
        elsif @request.ctype=="Enterprise"
            if @logical.redundancy?
                aux=4
            else
                aux=2
            end
        end
        i=0
        while aux>0
            i+=1
            aux-=1
            the_switch = TheSwitch.where('numberports >= 1 and ports_id = 5').order('numberports asc')
            switch=Switch.find(the_switch.first.switches_id)
            port=Port.find(the_switch.first.ports_id)
            %>
                <tr></td><td><%=switch.name%></td><td><%=switch.reference%></td><td><%=switch.price%> USD</td></tr>
            <%
            contadordeprecio+=switch.price
        end
        
        superi=i
        
        aux=0
        @physical.each do |physical|
            aux+=1
            begin
            the_switch = TheSwitch.where('numberports > ? and ports_id = 1', physical.computers).order('numberports desc')
            %>
                <!--<%=the_switch.first.numberports%> -->
            <%
            rescue
            the_switch = TheSwitch.where('numberports < ? and ports_id = 1', physical.computers).order('numberports desc')
            %>
                <!--<%=the_switch.first.numberports%> -->
            <%
            end
            cantidad_switches=(physical.computers.to_f/the_switch.first.numberports.to_f).to_f.ceil
            
            switch=Switch.find(the_switch.first.switches_id)
            port=Port.find(the_switch.first.ports_id)
            oux=cantidad_switches
            while oux>0
            oux-=1
            i+=1
            %>
                <tr><td><%=switch.name%></td><td><%=switch.reference%></td><td><%=switch.price%> USD</td></tr>
            <%
            contadordeprecio+=switch.price
            end
            @cantidad_switches_aux=i
            switchesconta=@cantidad_switches_aux
        end
        
        
        
        %>
        <tr><td colspan="2"><strong>Total: </strong><td><strong><%=contadordeprecio%> USD</strong></td></td></tr>
    </tr></tbody>
    </table>
</div>
  
  <div class="row">
    <h2>Cotización económica</h2>
    <table class="table table-responsive"  border="1" width= "100%">
      <thead>
        <tr>
          <th>Equipo</th>
          <th>Descripción</th>
          <th>Cantidad</th>
          <th>Valor Unitario</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        
        <!-- Routers -->
        <tr>
          <td colspan="5"><strong>Routers</strong></div></td>
        </tr>
        <% if @R_status == 0 %>
            <td colspan="5">No hay routers disponibles para cotizar</div></td>
          <%else%>
        
        <%
          cont=1
          @Myeq=Equipment.where('power = ? and etype = ?',@eco_r,"Router").order("RANDOM()").first
          mslots+=@Myeq.slots*cont
        %>
        <tr>
          <td><div class="avoid"><%=@Myeq.brand%></div></td>
          <td><div class="avoid">Router marca <%=@Myeq.brand%>, referencia: [<%=@Myeq.reference %>], el equipo tiene una potencia <%=@Myeq.power %>/3</div></td>
          <td><div class="avoid"><%=cont%> u</div></td>
          <td><div class="avoid"><%=@Myeq.price%></div></td>
          <td><div class="avoid"><%=@Myeq.price*cont%></div></td>
          <%total_value+=@Myeq.price*cont%>
        </tr>
        
        <%end%>
        <!-- Cable -->
        
        <tr>
          <td colspan="5"><strong>Cable</strong></div></td>
        </tr>
        <% if @Ca_status == 0 %>
            <td colspan="5">No hay cable disponible para cotizar</div></td>
          <%else%>
          <%
            @Myeq=Equipment.where('power = ? and etype = ?',@eco_ca,"Cable").order("RANDOM()").first
             cablevertical=@physical.sum(:height)+@physical.count*2
            cont=@cable+@cantidad_switches_aux+cablevertical+1
          %>
              <tr>
                <td><div class="avoid"><%=@Myeq.brand%></div></td>
                <td><div class="avoid">Cable marca <%=@Myeq.brand%>, referencia: [<%=@Myeq.reference %>], calidad <%=@Myeq.power%>/3 (<%=cablevertical%> m de cablevertical)</div></td>
                <% 
                if @Logical.redundancy? 
                  cont=cont*2+1
                end
                %>
                <td><div class="avoid"><%=cont.ceil%> m</div></td>
                <td><div class="avoid"><%=@Myeq.price%></div></td>
                <td><div class="avoid"><%=@Myeq.price*cont.ceil%></div></td>
                <%total_value+=@Myeq.price*cont.ceil%>
              </tr>
              <%
            
            end
          
            
        %>
        <!-- Canaleta -->
        
        <tr>
          <td colspan="5"><strong>Canaleta</strong></div></td>
        </tr>
        <% if @Can_status == 0 %>
            <td colspan="5">No hay canaleta disponible para cotizar</div></td>
          <%else%>
          <%
            @Myeq=Equipment.where('power = ? and etype = ?',@eco_can,"Canaleta").order("RANDOM()").first
            cont=3451
          %>
              <tr>
                <td><div class="avoid"><%=@Myeq.brand%></div></td>
                <td><div class="avoid">Canaleta marca <%=@Myeq.brand%>, referencia: [<%=@Myeq.reference %>], calidad <%=@Myeq.power%>/3</div></td>
                <% 
                if @Logical.redundancy? 
                  cont=cont*2
                end
                %>
                <td><div class="avoid"><%=@canaleta.ceil%> m</div></td>
                <td><div class="avoid"><%=@Myeq.price%></div></td>
                <td><div class="avoid"><%=@Myeq.price*@canaleta.ceil%></div></td>
                <%total_value+=@Myeq.price*@canaleta.ceil%>
              </tr>
              <%
            
            end
          
            
        %>
      <!-- Tomas -->
        <%cont=@total_of_computers%>
        <tr>
          <td colspan="5"><strong>Tomas</strong></div></td>
        </tr>
        <% if @T_status == 0 %>
            <td colspan="5">No hay tomas disponibles para cotizar</div></td>
          <%else%>
          <%
            @Myeq=Equipment.where('power = ? and etype = ?',@eco_t,"Toma").order("RANDOM()").first
          %>
              <tr>
                <td><div class="avoid"><%=@Myeq.brand%></div></td>
                <td><div class="avoid">Toma marca <%=@Myeq.brand%>, referencia: [<%=@Myeq.reference %>], calidad <%=@Myeq.power%>/3</div></td>
                <td><div class="avoid"><%=cont%> u</div></td>
                <td><div class="avoid"><%=@Myeq.price%></div></td>
                <td><div class="avoid"><%=@Myeq.price*cont%></div></td>
                <%total_value+=@Myeq.price*cont%>
              </tr>
              <%
            
            end
          
            
        %>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <%
        switchesconta=0
        if @request.ctype=="Campus"
            if @logical.redundancy?
                aux=2
            else
                aux=1
            end  
        elsif @request.ctype=="Enterprise"
            if @logical.redundancy?
                aux=4
            else
                aux=2
            end
        end
        i=0
        while aux>0
            i+=1
            aux-=1
            the_switch = TheSwitch.where('numberports >= 1 and ports_id = 5').order('numberports asc')
            switch=Switch.find(the_switch.first.switches_id)
            port=Port.find(the_switch.first.ports_id)
        end
        
        superi=i
        
        aux=0
        @physical.each do |physical|
            aux+=1
            begin
            the_switch = TheSwitch.where('numberports > ? and ports_id = 1', physical.computers).order('numberports desc')
            %>
                <!--<%=the_switch.first.numberports%> -->
            <%
            rescue
            the_switch = TheSwitch.where('numberports < ? and ports_id = 1', physical.computers).order('numberports desc')
            %>
                <!--<%=the_switch.first.numberports%> -->
            <%
            end
            cantidad_switches=(physical.computers.to_f/the_switch.first.numberports.to_f).to_f.ceil
            
            switch=Switch.find(the_switch.first.switches_id)
            port=Port.find(the_switch.first.ports_id)
            oux=cantidad_switches
            while oux>0
            oux-=1
            i+=1
            end
            @cantidad_switches_aux=i
            switchesconta=i
            
        end
        %>
              <%
              if @request.ctype=="Campus"
                  if @logical.redundancy?
                      aux=2
                      switchesconta+=aux
                  else
                      aux=1
                      switchesconta+=aux
                  end  
              elsif @request.ctype=="Enterprise"
                  if @logical.redundancy?
                      aux=4
                      switchesconta+=aux
                  else
                      aux=2
                      switchesconta+=aux
                  end
              end
              %>
              
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <!-- Conectores -->
        <%cont=@total_of_computers*2+switchesconta*2+2+2%>
        <% 
          if @Logical.redundancy? 
            cont+=switchesconta*2
          end
        %>
        <tr>
          <td colspan="5"><strong>Conectores </strong></div></td>
        </tr>
        <% if @Co_status == 0 %>
            <td colspan="5">No hay conectores disponibles para cotizar</div></td>
          <%else%>
          <%
            @Myeq=Equipment.where('power = ? and etype = ?',@eco_con,"Conector").order("RANDOM()").first
          %>
              <tr>
                <td><div class="avoid"><%=@Myeq.brand%></div></td>
                <td><div class="avoid">Conector marca <%=@Myeq.brand%>, referencia: [<%=@Myeq.reference %>], calidad <%=@Myeq.power%>/3</div></td>
                <td><div class="avoid"><%=cont%> u</div></td>
                <td><div class="avoid"><%=@Myeq.price%></div></td>
                <td><div class="avoid"><%=@Myeq.price*cont%></div></td>
                <%total_value+=@Myeq.price*cont%>
              </tr>
              <%
            
            end
          
            
        %>
        
        <!-- AP -->
        <%cont=@physical.count%>
        <tr>
          <td colspan="5"><strong>Ap's</strong></div></td>
        </tr>
        <% if @Ap_status == 0 %>
            <td colspan="5">No hay AP's disponibles para cotizar</div></td>
          <%else%>
          <%
            @Myeq=Equipment.where('power = ? and etype = ?',@eco_ap,"AP").order("RANDOM()").first
          %>
              <tr>
                <td><div class="avoid"><%=@Myeq.brand%></div></td>
                <td><div class="avoid">AP marca <%=@Myeq.brand%>, referencia: [<%=@Myeq.reference %>], potencia <%=@Myeq.power%>/3</div></td>
                <td><div class="avoid"><%=cont%> u</div></td>
                <td><div class="avoid"><%=@Myeq.price%></div></td>
                <td><div class="avoid"><%=@Myeq.price*cont%></div></td>
                <%total_value+=@Myeq.price*cont%>
              </tr>
              <%
            
            end
          
            
        %>
      
        <!-- Rack -->
        <% cont=1 %>
        <%mslots=4%>
        <tr>
          <td colspan="5"><strong>Racks</strong></div></td>
        </tr>
        <% if @Ra_status == 0 %>
            <td colspan="5">No hay racks disponibles para cotizar</div></td>
          <%else%>
        <%
        
          @Myeq=Equipment.where('power = ? and etype = ? and slots >= ?',@eco_ra,"Rack",mslots).order(:slots).first
          #Revisamos si hay resultados
          begin
            aux=@Myeq.brand
       
            @Myeq=Equipment.where('power = ? and etype = ? and slots <= ?',@eco_ra,"Rack",mslots).order(:slots).first
            antslots=0
            ronda=0
            while mslots>0
            ronda+=1
            
              begin
                @Myeq=Equipment.where('power = ? and etype = ? and slots <= ?',@eco_ra,"Rack",mslots).order(:slots).last
                mslots-=@Myeq.slots
              rescue
                @Myeq=Equipment.where('power = ? and etype = ? and slots >= ?',@eco_ra,"Rack",mslots).order(:slots).first
                mslots-=@Myeq.slots
              end
              
               
                 
              %>
              <tr>
                <td><div class="avoid"><%=@Myeq.brand%></div></td>
                <td><div class="avoid">Rack marca <%=@Myeq.brand%>, referencia: [<%=@Myeq.reference %>], el equipo tiene espacio para alojar <%=@Myeq.slots %> u - calidad <%=@Myeq.power%>/3</div></td>
                <td><div class="avoid"><%=cont%> u</div></td>
                <td><div class="avoid"><%=@Myeq.price%></div></td>
                <td><div class="avoid"><%=@Myeq.price*cont%></div></td>
                <%total_value+=@Myeq.price*cont%>
              </tr>
              <%
              
            end
          rescue
            
          #Si no hay resultados tendremos que meter varios racks o uno solo
          @Myeq=Equipment.where('power = ? and etype = ? and slots <= ?',@eco_ra,"Rack",mslots).order(:slots).first
          antslots=0
          ronda=0
            while mslots>0
            ronda+=1
            if @Ra_status==1
              begin
                @Myeq=Equipment.where('power = ? and etype = ? and slots <= ?',@eco_ra,"Rack",mslots).order(:slots).last
                mslots-=@Myeq.slots
              rescue
                @Myeq=Equipment.where('power = ? and etype = ? and slots >= ?',@eco_ra,"Rack",mslots).order(:slots).first
                mslots-=@Myeq.slots
              end
            end
               
                 
              %>
              <tr>
                <td><div class="avoid"><%=@Myeq.brand%></div></td>
                <td><div class="avoid">Rack marca <%=@Myeq.brand%>, referencia: [<%=@Myeq.reference %>], el equipo tiene espacio para alojar <%=@Myeq.slots %> u - calidad <%=@Myeq.power%>/3</div></td>
                <td><div class="avoid"><%=cont%> u</div></td>
                <td><div class="avoid"><%=@Myeq.price%></div></td>
                <td><div class="avoid"><%=@Myeq.price*cont%></div></td>
                <%total_value+=@Myeq.price*cont%>
              </tr>
              <%
            
            end
            
              
          end
            
        %>
        
        
        <%end%>
        
        <tr>
          <td colspan="4"><strong>Total: </strong></div></td>
          <td><div class="avoid"><strong><%= total_value %> USD</strong></div></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
  
  
  
  
  
  
  <!--Cotización estandar-->
  
  
  
  
  
  
  <%total_value=0%>
  <%mslots=0%>
  
  <div class="row">
    <h2>Cotización estandar</h2>
    <table class="table table-responsive"  border="1" width= "100%">
      <thead>
        <tr>
          <th>Equipo</th>
          <th>Descripción</th>
          <th>Cantidad</th>
          <th>Valor Unitario</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        
        <!-- Routers -->
        <tr>
          <td colspan="5"><strong>Routers</strong></div></td>
        </tr>
        <% if @R_status == 0 %>
            <td colspan="5">No hay routers disponibles para cotizar</div></td>
          <%else%>
        
        <%
          cont=1
          @Myeq=Equipment.where('power = ? and etype = ?',@est_r,"Router").order("RANDOM()").first
          mslots+=@Myeq.slots*cont
        %>
        <tr>
          <td><div class="avoid"><%=@Myeq.brand%></div></td>
          <td><div class="avoid">Router marca <%=@Myeq.brand%>, referencia: [<%=@Myeq.reference %>], el equipo tiene una potencia <%=@Myeq.power %>/3</div></td>
          <td><div class="avoid"><%=cont%> u</div></td>
          <td><div class="avoid"><%=@Myeq.price%></div></td>
          <td><div class="avoid"><%=@Myeq.price*cont%></div></td>
          <%total_value+=@Myeq.price*cont%>
        </tr>
        
        <%end%>
        <!-- Cable -->
        
        <tr>
          <td colspan="5"><strong>Cable</strong></div></td>
        </tr>
        <% if @Ca_status == 0 %>
            <td colspan="5">No hay cable disponible para cotizar</div></td>
          <%else%>
          <%
            @Myeq=Equipment.where('power = ? and etype = ?',@est_ca,"Cable").order("RANDOM()").first
            cablevertical=@physical.sum(:height)+@physical.count*2
            cont=@cable+switchesconta+1+cablevertical
          %>
              <tr>
                <td><div class="avoid"><%=@Myeq.brand%></div></td>
                <td><div class="avoid">Cable marca <%=@Myeq.brand%>, referencia: [<%=@Myeq.reference %>], calidad <%=@Myeq.power%>/3 (<%=cablevertical%> m de cablevertical)</div></td>
                <% 
                if @Logical.redundancy? 
                  cont=cont*2+1
                end
                %>
                <td><div class="avoid"><%=cont.ceil%> m</div></td>
                <td><div class="avoid"><%=@Myeq.price%></div></td>
                <td><div class="avoid"><%=@Myeq.price*cont.ceil%></div></td>
                <%total_value+=@Myeq.price*cont.ceil%>
              </tr>
              <%
            
            end
          
            
        %>
        <!-- Canaleta -->
        
        <tr>
          <td colspan="5"><strong>Canaleta</strong></div></td>
        </tr>
        <% if @Can_status == 0 %>
            <td colspan="5">No hay canaleta disponible para cotizar</div></td>
          <%else%>
          <%
            @Myeq=Equipment.where('power = ? and etype = ?',@est_can,"Canaleta").order("RANDOM()").first
            cont=@cable
          %>
              <tr>
                <td><div class="avoid"><%=@Myeq.brand%></div></td>
                <td><div class="avoid">Canaleta marca <%=@Myeq.brand%>, referencia: [<%=@Myeq.reference %>], calidad <%=@Myeq.power%>/3</div></td>
                <% 
                if @Logical.redundancy? 
                  cont=cont*2
                end
                %>
                <td><div class="avoid"><%=@canaleta.ceil%> m</div></td>
                <td><div class="avoid"><%=@Myeq.price%></div></td>
                <td><div class="avoid"><%=@Myeq.price*@canaleta.ceil%></div></td>
                <%total_value+=@Myeq.price*@canaleta.ceil%>
              </tr>
              <%
            
            end
          
            
        %>
      <!-- Tomas -->
        <%cont=@total_of_computers%>
        <tr>
          <td colspan="5"><strong>Tomas</strong></div></td>
        </tr>
        <% if @T_status == 0 %>
            <td colspan="5">No hay tomas disponibles para cotizar</div></td>
          <%else%>
          <%
            @Myeq=Equipment.where('power = ? and etype = ?',@est_t,"Toma").order("RANDOM()").first
          %>
              <tr>
                <td><div class="avoid"><%=@Myeq.brand%></div></td>
                <td><div class="avoid">Toma marca <%=@Myeq.brand%>, referencia: [<%=@Myeq.reference %>], calidad <%=@Myeq.power%>/3</div></td>
                <td><div class="avoid"><%=cont%> u</div></td>
                <td><div class="avoid"><%=@Myeq.price%></div></td>
                <td><div class="avoid"><%=@Myeq.price*cont%></div></td>
                <%total_value+=@Myeq.price*cont%>
              </tr>
              <%
            
            end
          
            
        %>
        <!-- Conectores -->
        <%cont=@total_of_computers*2+switchesconta*2+2+2%>
        <% 
          if @Logical.redundancy? 
            cont+=switchesconta*2
          end
        %>
        <tr>
          <td colspan="5"><strong>Conectores</strong></div></td>
        </tr>
        <% if @Co_status == 0 %>
            <td colspan="5">No hay conectores disponibles para cotizar</div></td>
          <%else%>
          <%
            @Myeq=Equipment.where('power = ? and etype = ?',@est_co,"Conector").order("RANDOM()").first
          %>
              <tr>
                <td><div class="avoid"><%=@Myeq.brand%></div></td>
                <td><div class="avoid">Conector marca <%=@Myeq.brand%>, referencia: [<%=@Myeq.reference %>], calidad <%=@Myeq.power%>/3</div></td>
                <td><div class="avoid"><%=cont%> u</div></td>
                <td><div class="avoid"><%=@Myeq.price%></div></td>
                <td><div class="avoid"><%=@Myeq.price*cont%></div></td>
                <%total_value+=@Myeq.price*cont%>
              </tr>
              <%
            
            end
          
            
        %>
        
        <!-- AP -->
        <%cont=@physical.count%>
        <tr>
          <td colspan="5"><strong>AP's</strong></div></td>
        </tr>
        <% if @Ap_status == 0 %>
            <td colspan="5">No hay AP's disponibles para cotizar</div></td>
          <%else%>
          <%
            @Myeq=Equipment.where('power = ? and etype = ?',@est_ap,"AP").order("RANDOM()").first
          %>
              <tr>
                <td><div class="avoid"><%=@Myeq.brand%></div></td>
                <td><div class="avoid">AP marca <%=@Myeq.brand%>, referencia: [<%=@Myeq.reference %>], potencia <%=@Myeq.power%>/3</div></td>
                <td><div class="avoid"><%=cont%> u</div></td>
                <td><div class="avoid"><%=@Myeq.price%></div></td>
                <td><div class="avoid"><%=@Myeq.price*cont%></div></td>
                <%total_value+=@Myeq.price*cont%>
              </tr>
              <%
            
            end
          
            
        %>
      
        <!-- Rack -->
        <% cont=1 %>
        <%mslots=4%>
        <tr>
          <td colspan="5"><strong>Racks</strong></div></td>
        </tr>
        <% if @Ra_status == 0 %>
            <td colspan="5">No hay racks disponibles para cotizar</div></td>
          <%else%>
        <%
        
          @Myeq=Equipment.where('power = ? and etype = ? and slots >= ?',@est_ra,"Rack",mslots).order(:slots).first
          #Revisamos si hay resultados
          begin
            aux=@Myeq.brand
       
            @Myeq=Equipment.where('power = ? and etype = ? and slots <= ?',@est_ra,"Rack",mslots).order(:slots).first
            antslots=0
            ronda=0
            while mslots>0
            ronda+=1
            
              begin
                @Myeq=Equipment.where('power = ? and etype = ? and slots <= ?',@est_ra,"Rack",mslots).order(:slots).last
                mslots-=@Myeq.slots
              rescue
                @Myeq=Equipment.where('power = ? and etype = ? and slots >= ?',@est_ra,"Rack",mslots).order(:slots).first
                mslots-=@Myeq.slots
              end
              
               
                 
              %>
              <tr>
                <td><div class="avoid"><%=@Myeq.brand%></div></td>
                <td><div class="avoid">Rack marca <%=@Myeq.brand%>, referencia: [<%=@Myeq.reference %>], el equipo tiene espacio para alojar <%=@Myeq.slots %> u - calidad <%=@Myeq.power%>/3</div></td>
                <td><div class="avoid"><%=cont%> u</div></td>
                <td><div class="avoid"><%=@Myeq.price%></div></td>
                <td><div class="avoid"><%=@Myeq.price*cont%></div></td>
                <%total_value+=@Myeq.price*cont%>
              </tr>
              <%
              
            end
          rescue
            
          #Si no hay resultados tendremos que meter varios racks o uno solo
          @Myeq=Equipment.where('power = ? and etype = ? and slots <= ?',@est_ra,"Rack",mslots).order(:slots).first
          antslots=0
          ronda=0
            while mslots>0
            ronda+=1
            
              begin
                @Myeq=Equipment.where('power = ? and etype = ? and slots <= ?',@est_ra,"Rack",mslots).order(:slots).last
                mslots-=@Myeq.slots
              rescue
                @Myeq=Equipment.where('power = ? and etype = ? and slots >= ?',@est_ra,"Rack",mslots).order(:slots).first
                mslots-=@Myeq.slots
              end
              
               
                 
              %>
              <tr>
                <td><div class="avoid"><%=@Myeq.brand%></div></td>
                <td><div class="avoid">Rack marca <%=@Myeq.brand%>, referencia: [<%=@Myeq.reference %>], el equipo tiene espacio para alojar <%=@Myeq.slots %> u - calidad <%=@Myeq.power%>/3</div></td>
                
                <td><div class="avoid"><%=cont%> u</div></td>
                <td><div class="avoid"><%=@Myeq.price%></div></td>
                <td><div class="avoid"><%=@Myeq.price*cont%></div></td>
                <%total_value+=@Myeq.price*cont%>
              </tr>
              <%
            
            end
            
              
          end
            
        %>
        
        
        <%end%>
        
        <tr>
          <td colspan="4"><strong>Total: </strong></div></td>
          <td><div class="avoid"><strong><%= total_value %> USD</strong></div></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
  
  
  
  
  <!--Cotización Optima-->
  
  
  
  
  
  
  <%total_value=0%>
  <%mslots=0%>
  
  <div class="row">
    
    <table class="table table-responsive"  border="1" width= "100%">
      <h2>Cotización optima</h2>
      <thead>
        <tr>
          <th>Equipo</th>
          <th>Descripción</th>
          <th>Cantidad</th>
          <th>Valor Unitario</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        
        <!-- Routers -->
        <tr>
          <td colspan="5"><strong>Routers</strong></div></td>
        </tr>
        <% if @R_status == 0 %>
            <td colspan="5">No hay routers disponibles para cotizar</div></td>
          <%else%>
        
        <%
          cont=1
          @Myeq=Equipment.where('power = ? and etype = ?',@opt_r,"Router").order("RANDOM()").first
          mslots+=@Myeq.slots*cont
        %>
        <tr>
          <td><div class="avoid"><%=@Myeq.brand%></div></td>
          <td><div class="avoid">Router marca <%=@Myeq.brand%>, referencia: [<%=@Myeq.reference %>], el equipo tiene una potencia <%=@Myeq.power %>/3</div></td>
          <td><div class="avoid"><%=cont%> u</div></td>
          <td><div class="avoid"><%=@Myeq.price%></div></td>
          <td><div class="avoid"><%=@Myeq.price*cont%></div></td>
          <%total_value+=@Myeq.price*cont%>
        </tr>
        
        <%end%>
        <!-- Cable -->
        
        <tr>
          <td colspan="5"><strong>Cable</strong></div></td>
        </tr>
        <% if @Ca_status == 0 %>
            <td colspan="5">No hay cable disponible para cotizar</div></td>
          <%else%>
          <%
            @Myeq=Equipment.where('power = ? and etype = ?',@opt_ca,"Cable").order("RANDOM()").first
            cablevertical=@physical.sum(:height)+@physical.count*2
            cont=@cable+switchesconta+1+cablevertical
          %>
              <tr>
                <td><div class="avoid"><%=@Myeq.brand%></div></td>
                <td><div class="avoid">Cable marca <%=@Myeq.brand%>, referencia: [<%=@Myeq.reference %>], calidad <%=@Myeq.power%>/3 (<%=cablevertical%> m de cablevertical)</div></td>
                <% 
                if @Logical.redundancy? 
                  cont=cont*2+1
                end
                %>
                <td><div class="avoid"><%=cont.ceil%> m</div></td>
                <td><div class="avoid"><%=@Myeq.price%></div></td>
                <td><div class="avoid"><%=@Myeq.price*cont.ceil%></div></td>
                <%total_value+=@Myeq.price*cont.ceil%>
              </tr>
              <%
            
            end
          
            
        %>
        
        <!-- Canaleta -->
        
        <tr>
          <td colspan="5"><strong>Canaleta</strong></div></td>
        </tr>
        <% if @Can_status == 0 %>
            <td colspan="5">No hay canaleta disponible para cotizar</div></td>
          <%else%>
          <%
            @Myeq=Equipment.where('power = ? and etype = ?',@opt_can,"Canaleta").order("RANDOM()").first
            cont=@cable
          %>
              <tr>
                <td><div class="avoid"><%=@Myeq.brand%></div></td>
                <td><div class="avoid">Canaleta marca <%=@Myeq.brand%>, referencia: [<%=@Myeq.reference %>], calidad <%=@Myeq.power%>/3</div></td>
                <% 
                if @Logical.redundancy? 
                  cont=cont*2
                end
                %>
                <td><div class="avoid"><%=@canaleta.ceil%> m</div></td>
                <td><div class="avoid"><%=@Myeq.price%></div></td>
                <td><div class="avoid"><%=@Myeq.price*@canaleta.ceil%></div></td>
                <%total_value+=@Myeq.price*@canaleta.ceil%>
              </tr>
              <%
            
            end
          
            
        %>
      <!-- Tomas -->
        <%cont=@total_of_computers%>
        <tr>
          <td colspan="5"><strong>Tomas</strong></div></td>
        </tr>
        <% if @T_status == 0 %>
            <td colspan="5">No hay tomas disponibles para cotizar</div></td>
          <%else%>
          <%
            @Myeq=Equipment.where('power = ? and etype = ?',@opt_t,"Toma").order("RANDOM()").first
          %>
              <tr>
                <td><div class="avoid"><%=@Myeq.brand%></div></td>
                <td><div class="avoid">Toma marca <%=@Myeq.brand%>, referencia: [<%=@Myeq.reference %>], calidad <%=@Myeq.power%>/3</div></td>
                <% 
                if @Logical.redundancy? 
                  cont=cont*2
                end
                %>
                <td><div class="avoid"><%=cont%> u</div></td>
                <td><div class="avoid"><%=@Myeq.price%></div></td>
                <td><div class="avoid"><%=@Myeq.price*cont%></div></td>
                <%total_value+=@Myeq.price*cont%>
              </tr>
              <%
            
            end
          
            
        %>
        
        <!-- Conectores -->
        <%cont=@total_of_computers*2+switchesconta*2+2+2%>
        <% 
          if @Logical.redundancy? 
            cont+=switchesconta*2
          end
        %>
        <tr>
          <td colspan="5"><strong>Conectores</strong></div></td>
        </tr>
        <% if @Co_status == 0 %>
            <td colspan="5">No hay conectores disponibles para cotizar</div></td>
          <%else%>
          <%
            @Myeq=Equipment.where('power = ? and etype = ?',@opt_co,"Conector").order("RANDOM()").first
          %>
              <tr>
                <td><div class="avoid"><%=@Myeq.brand%></div></td>
                <td><div class="avoid">Conector marca <%=@Myeq.brand%>, referencia: [<%=@Myeq.reference %>], calidad <%=@Myeq.power%>/3</div></td>
                <td><div class="avoid"><%=cont%> u</div></td>
                <td><div class="avoid"><%=@Myeq.price%></div></td>
                <td><div class="avoid"><%=@Myeq.price*cont%></div></td>
                <%total_value+=@Myeq.price*cont%>
              </tr>
              <%
            
            end
          
            
        %>
        
        <!-- AP -->
        <%cont=@physical.count%>
        <tr>
          <td colspan="5"><strong>Ap's</strong></div></td>
        </tr>
        <% if @Ap_status == 0 %>
            <td colspan="5">No hay AP's disponibles para cotizar</div></td>
          <%else%>
          <%
            @Myeq=Equipment.where('power = ? and etype = ?',@opt_ap,"AP").order("RANDOM()").first
          %>
              <tr>
                <td><div class="avoid"><%=@Myeq.brand%></div></td>
                <td><div class="avoid">AP marca <%=@Myeq.brand%>, referencia: [<%=@Myeq.reference %>], potencia <%=@Myeq.power%>/3</div></td>
                <td><div class="avoid"><%=cont%> u</div></td>
                <td><div class="avoid"><%=@Myeq.price%></div></td>
                <td><div class="avoid"><%=@Myeq.price*cont%></div></td>
                <%total_value+=@Myeq.price*cont%>
              </tr>
              <%
            
            end
          
            
        %>
      
        <!-- Rack -->
        <% cont=1 %>
        <%mslots=4%>
        <tr>
          <td colspan="5"><strong>Racks</strong></div></td>
        </tr>
        <% if @Ra_status == 0 %>
            <td colspan="5">No hay racks disponibles para cotizar</div></td>
          <%else%>
        <%
        
          @Myeq=Equipment.where('power = ? and etype = ? and slots >= ?',@opt_ra,"Rack",mslots).order(:slots).first
          #Revisamos si hay resultados
          begin
            aux=@Myeq.brand
       
            @Myeq=Equipment.where('power = ? and etype = ? and slots <= ?',@opt_ra,"Rack",mslots).order(:slots).first
            antslots=0
            ronda=0
            while mslots>0
            ronda+=1
            
              begin
                @Myeq=Equipment.where('power = ? and etype = ? and slots <= ?',@opt_ra,"Rack",mslots).order(:slots).last
                mslots-=@Myeq.slots
              rescue
                @Myeq=Equipment.where('power = ? and etype = ? and slots >= ?',@opt_ra,"Rack",mslots).order(:slots).first
                mslots-=@Myeq.slots
              end
              
               
                 
              %>
              <tr>
                <td><div class="avoid"><%=@Myeq.brand%></div></td>
                <td><div class="avoid">Rack marca <%=@Myeq.brand%>, referencia: [<%=@Myeq.reference %>], el equipo tiene espacio para alojar <%=@Myeq.slots %> u - calidad <%=@Myeq.power%>/3</div></td>
                <td><div class="avoid"><%=cont%> u</div></td>
                <td><div class="avoid"><%=@Myeq.price%></div></td>
                <td><div class="avoid"><%=@Myeq.price*cont%></div></td>
                <%total_value+=@Myeq.price*cont%>
              </tr>
              <%
              
            end
          rescue
            
          #Si no hay resultados tendremos que meter varios racks o uno solo
          @Myeq=Equipment.where('power = ? and etype = ? and slots <= ?',@opt_ra,"Rack",mslots).order(:slots).first
          antslots=0
          ronda=0
            while mslots>0
            ronda+=1
            
              begin
                @Myeq=Equipment.where('power = ? and etype = ? and slots <= ?',@opt_ra,"Rack",mslots).order(:slots).last
                mslots-=@Myeq.slots
              rescue
                @Myeq=Equipment.where('power = ? and etype = ? and slots >= ?',@opt_ra,"Rack",mslots).order(:slots).first
                mslots-=@Myeq.slots
              end
              
               
                 
              %>
              <tr>
                <td><div class="avoid"><%=@Myeq.brand%></div></td>
                <td><div class="avoid">Rack marca <%=@Myeq.brand%>, referencia: [<%=@Myeq.reference %>], el equipo tiene espacio para alojar <%=@Myeq.slots %> u - calidad <%=@Myeq.power%>/3</div></td>
                <td><div class="avoid"><%=cont%> u</div></td>
                <td><div class="avoid"><%=@Myeq.price%></div></td>
                <td><div class="avoid"><%=@Myeq.price*cont%></div></td>
                <%total_value+=@Myeq.price*cont%>
              </tr>
              <%
            
            end
            
              
          end
            
        %>
        
        
        <%end%>
        
        <tr>
          <td colspan="4"><strong>Total: </strong></div></td>
          <td><div class="avoid"><strong><%= total_value %> USD</strong></div></td>
        </tr>
      </tbody>
    </table>
  </div>
  