<head>
  <meta charset="UTF-8">
</head>
  <%total_value=0%>
  
  <div class="row">
    <h2>Cotizaci칩n econ칩mica</h2>
    <h3>Total de equipos: <%=@total_of_computers%></h3>
    <table class="table table-responsive"  border="1" width= "100%">
      <thead>
        <tr>
          <th>Equipo</th>
          <th>Descripci칩n</th>
          <th>Cantidad</th>
          <th>Valor Unitario</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <!-- Switches -->
        <tr>
          <td colspan="5">Switches</td>
        </tr>
        <tr>
          <% if @Sw_status == 0 %>
            <td colspan="5">No hay Switches disponibles en el sistema</td>
          <%else%>
          <% 
          totalcomputers=@total_of_computers
          
          while totalcomputers>0  do
            #@Myeq=Equipment.where('ports < ?',totalcomputers).order(:ports).last
            @Myeq=Equipment.where('ports < ? and power = ?',totalcomputers, @eco).order(:ports).last
            
            begin
              
            #Calcular Cantidad
            cont=1
            while true
              if @Myeq.ports*cont>totalcomputers
                break
              else
                cont+=1
              end
            end
            cont-=1
            
            #Restar Pueros
            totalcomputers-=@Myeq.ports*cont
            
            
            rescue
            #A침adir router final
            
            #@Myeq=Equipment.where('ports > ?',totalcomputers).order(:ports).first
            @Myeq=Equipment.where('ports > ? and power = ?',totalcomputers,@eco).order(:ports).first
            cont=1
            totalcomputers-=@Myeq.ports*cont
            end
            %>
            
            <tr>
              <td><%=@Myeq.brand%></td>
              <td>Switch marca <%=@Myeq.brand%> de <%=@Myeq.ports%> puertos, referencia: [<%=@Myeq.reference %>], el equipo tiene una potencia <%=@Myeq.power %>/3</td>
              <td><%=cont%></td>
              <td><%=@Myeq.price%></td>
              <td><%=@Myeq.price*cont%></td>
              <%total_value+=@Myeq.price*cont%>
            </tr>
            <%
          
          
          
          end
          %>
            
          <%end%>
        </tr>
        <!-- Routers -->
        <!--
        <tr>
          <td colspan="5">Router</td>
        </tr>
        -->
        <tr>
          <td colspan="4"><strong>Total: </strong></td>
          <td><strong><%= total_value %> USD</strong></td>
        </tr>
      </tbody>
    </table>
  </div>