<!Doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  <%= wicked_pdf_javascript_include_tag "number_pages" %>
</head>
<body onload='number_pages'>
  <div id="content">
    <div class="container-fluid">
  <div class="row">
    <h1>Direccionamiento Estándar</h1>
    <h2>Host: <%=@h["Datos"]["Host"]%> - Máscara de red: <%=@h["Datos"]["Mascara"]%></h2>
    <table class="table table-responsive"  border="1" width= "100%">
      <thead>
        <tr>
          <th>Nombre de Subred</th>
          <th>Espacio Necesario</th>
          <th>Espacio Alojado</th>
          <th>Dirección</th>
          <th>Máscara</th>
          <th>Máscara Decimal</th>
          <th>Rango Asignable</th>
          <th>Difusión</th>
        </tr>
      </thead>
      <tbody>
        
        <% @subnets.order(computers: :desc, name: :asc).each do |subnet| %>
          <tr>
            <td><%=subnet.name%></td>
            <td><%=subnet.computers%></td>
            <td><%= @h[subnet.name]["size"]%></td>
            <td><%= @h[subnet.name]["subnet"]%></td>
            <td>/<%= @h[subnet.name]["cidr"]%></td>
            <td><%= @h[subnet.name]["mask"]%></td>
            <td><%= @h[subnet.name]["firstHost"]%> - <%= @h[subnet.name]["lastHost"]%></td>
            <td><%= @h[subnet.name]["broadcast"]%></td>
          </tr>
        <% end %>
      </tbody>
      </table>
  </div>
  <br>
  <hr>
  <br>
  <% if @logical.scalability? %>
  <div class="row">
    <h1>Direccionamiento con escalabilidad</h1>
    <h2>Host: <%=@g["Datos"]["Host"]%> - Máscara de red: <%=@g["Datos"]["Mascara"]%></h2>
    <table class="table table-responsive"  border="1" width= "100%">
      <thead>
        <tr>
          <th>Nombre de Subred</th>
          <th>Espacio Necesario</th>
          <th>Espacio Alojado</th>
          <th>Dirección</th>
          <th>Máscara</th>
          <th>Máscara Decimal</th>
          <th>Rango Asignable</th>
          <th>Difusión</th>
        </tr>
      </thead>
      <tbody>
        
        <% @subnets.order(computers: :desc, name: :asc).each do |subnet| %>
          <tr>
            <td><%=subnet.name%></td>
            <td><%=(subnet.computers+(subnet.computers*@logical.scalability/100)).to_s%></td>
            <td><%= @g[subnet.name]["size"]%></td>
            <td><%= @g[subnet.name]["subnet"]%></td>
            <td>/<%= @g[subnet.name]["cidr"]%></td>
            <td><%= @g[subnet.name]["mask"]%></td>
            <td><%= @g[subnet.name]["firstHost"]%> - <%= @g[subnet.name]["lastHost"]%></td>
            <td><%= @g[subnet.name]["broadcast"]%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
  </div>
  </div>
</body>
</html>