<!Doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  <%= wicked_pdf_javascript_include_tag "number_pages" %>
</head>
<style>
  pre{
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 16px;
    
  }
</style>
  <div id="content">
    <div class="container-fluid">
      <div class="row">
        <br>
        <br>
        <center><h1>Reporte de solicitud</h1></center>
        <br>
        <h2>Resumen de empresa</h2>
        <strong>Razón Social: </strong><%= @company.name %><br>
        <strong>Celular: </strong><%= @company.cell %><br>
        <strong>Teléfono: </strong><%= @company.phone %><br>
        <strong>Email: </strong><%= @company.email %><br>
        <strong>Nit. </strong><%= @company.nit %><br>
        <br>
        <h2>Resumen de solicitud</h2>
        <strong>Título. </strong><%= @request.title %><br>
        <strong>Descripción. </strong><%= @request.description %><br>
        <strong>Alcances: </strong><pre><%= @request.objective %></pre><br>
        <br>
      </div>
    </div>
    <%
    contalo=0
    %>
    
    <!--Tabla Normal -->
    <div class="row">
        <h2>Tabla de resumen</h2>
        <% if @logical.redundancy? %>
        <h3>Redundancia de red</h3>
        <%end%>
        
        <table class="table table-responsive"  border="1" width= "100%">
          <thead>
            <tr>
              <th>Tipo de dispositivo</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Impresoras</td>
              <td><%= @physical.sum(:printers) %></td>
            </tr>
            <tr>
              <td>Equipos</td>
              <td><%= @physical.sum(:computers) %></td>
            </tr>
            <tr>
              <td>Servidores</td>
             
              <td><%=@servidores%></td>
            </tr>
            <tr>
              <td>Routers</td>
              <td>
                1
              </td>
            </tr>
            <tr>
              <%
              cont=0
              %>
              <!--<td>Switches de acceso</td>-->
        <%
        if @request.ctype=="Enterprise"
            if @logical.redundancy?
                aux=2
            else
                aux=1
            end  
        elsif @request.ctype=="Campus"
            if @logical.redundancy?
                aux=4
            else
                aux=2
            end
        end
        i=0
        while aux>0
            i+=1
            aux-=1
            the_switch = TheSwitch.where('numberports >= 1 and ports_id = 5').order('numberports asc')
            switch=Switch.find(the_switch.first.switches_id)
            port=Port.find(the_switch.first.ports_id)
        end
        
        superi=i
        
        aux=0
        @physical.each do |physical|
            aux+=1
            begin
            the_switch = TheSwitch.where('numberports > ? and ports_id = 1', physical.computers).order('numberports desc')
            %>
                <!--<%=the_switch.first.numberports%> -->
            <%
            rescue
            the_switch = TheSwitch.where('numberports < ? and ports_id = 1', physical.computers).order('numberports desc')
            %>
                <!--<%=the_switch.first.numberports%> -->
            <%
            end
            cantidad_switches=(physical.computers.to_f/the_switch.first.numberports.to_f).to_f.ceil
            
            switch=Switch.find(the_switch.first.switches_id)
            port=Port.find(the_switch.first.ports_id)
            oux=cantidad_switches
            while oux>0
            oux-=1
            i+=1
            end
            @cantidad_switches_aux=i
            
        end
        contalo+=@cantidad_switches_aux
        %>
     <!--<td><%=@cantidad_switches_aux-1%></td>-->
     
              <%
              if @request.ctype=="Enterprise"
                  if @logical.redundancy?
                      aux=2
                      %>
                      <tr><td>Switches de Core</td>
                      <td><%=aux%></td></tr>
                      <%
                      contalo+=aux
                  else
                      aux=1
                      %>
                      <tr><td>Switches de Core</td>
                      <td><%=aux%></td></tr>
                      <%
                      contalo+=aux
                  end  
              elsif @request.ctype=="Campus"
                  if @logical.redundancy?
                      aux=4
                      %>
                      <tr><td>Switches de Core</td>
                      <td><%=aux/2%></td></tr>
                      <tr><td>Switches de Distribución</td>
                      <td><%=aux/2%></td></tr>
                      <%
                      contalo+=aux
                  else
                      aux=2
                      %>
                      <tr><td>Switches de Core</td>
                      <td><%=aux/2%></td></tr>
                      <tr><td>Switches de Distribución</td>
                      <td><%=aux/2%></td></tr>
                      <%
                      contalo+=aux
                  end
              end
              %>
              
            </tr>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            <tr>
              <%
              contador_de_switches=0
              aux=0
              @physical.each do |physical|
                  aux+=1
                  %>
                  <!--<h3>Piso <%=aux%> (<%=physical.height%>m x <%=physical.width%>m x <%=physical.large%>m)</h3>
                  <p>Edificio <%=physical.building.name%><br><%=physical.computers%> computadores</p>-->
                  <%
                  begin
                  the_switch = TheSwitch.where('numberports > ? and ports_id = 1', physical.computers).order('numberports desc')
                  %>
                      <!--<%=the_switch.first.numberports%> -->
                  <%
                  rescue
                  the_switch = TheSwitch.where('numberports < ? and ports_id = 1', physical.computers).order('numberports desc')
                  %>
                      <!--<%=the_switch.first.numberports%> -->
                  <%
                  end
                  cantidad_switches=(physical.computers.to_f/the_switch.first.numberports.to_f).to_f.ceil
                  contador_de_switches+=cantidad_switches.ceil
                  %>
                  <!--<strong>Se usaran <%=cantidad_switches.ceil%> switches de <%=the_switch.first.numberports%> puertos</strong>-->
                  <%
              end
              %>
              <td>Switches de Acceso</td>
              <td><%=contador_de_switches%></td>
            </tr>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
          
            <tr>
              <td>Puntos de acceso inalambrico</td>
              <td>
                <%=@physical.count%>
              </td>
            </tr>

            <tr>
              <td><strong>Total</strong></td>
              <td>
                
                <% @Total= @physical.sum(:printers)+@physical.sum(:computers)+@servidores+1+cont+@physical.count+contalo %>
                <strong><%= @Total %></strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
                  
                  <h2>Servicios</h2>
                  <% if @request.web %>  
                  <strong>Web: </strong>Servidor Apache (HTTPd)<br>
                  <% end %>
                  <% if @request.bd %>
                  <strong>Base de datos: </strong>MySQL Server<br>
                  <% end %>
                  <% if @request.aplications %>
                  <strong>Aplicaciones: </strong>LAMP<br>
                  <% end %>
                  <% if @request.proxy %>
                  <strong>Proxy: </strong>Squid 3.5.27<br>
                  <% end %>
                  <% if @request.voip %>
                  <strong>Voip: </strong>Asterisk 15<br>
                  <% end %>
                  <% if @request.email %>
                  <strong>Correo: </strong>Exchange<br>
                  <% end %>
                  <% if @request.video_conference %>
                  <strong>Video conference: </strong>LDAP<br>
                  <% end %>
                  <% if @request.active_dir %>
                  <strong>Directorio activo: </strong>Si<br>
                  <% end %>
                  <% if @request.dhcp %>
                  <strong>Dhcp: </strong>Si<br>
                  <% end %>
                  <% if @request.dns %>
                  <strong>Dns: </strong>Si<br>
                  <% end %>
                  <% if @request.ftp %>
                  <strong>Ftp: </strong>Si<br>
                  <% end %>
                </div>
                
                
                
                
                <div class="row">
                  <br>
                  
                  <% if @logical.redundancy? %>
                    <strong>ENLACES REDUNDANTES: </strong>Si<br>
                  <% else %>
                    <strong>ENLACES REDUNDANTES: </strong>No<br>
                  <% end%>
                  <br>
                </div>
                
                
                <div class="row">
                  <h2>Aspectos Físicos</h2>
                  <strong>Tipo de solicitud: <%=@request.ctype%></strong><br>
                  <%
                  if @request.ctype == "Campus"
                    @buildings=Building.where(:request_id => @request.id).order('id desc')
                    %>
                      <strong>Edificios en el campus: <%=@buildings.count%></strong><br>
                    <%
                      aux=0
                      @buildings.each do |building|
                        aux+=1
                        %>
                        <h3>Edificio <%=aux%>, <%=building.name%></h3>
                        <%
                        @phys=Physical.where(:request_id => @request.id, :building_id => building.id)
                        cont=0
                        @phys.each do |physical_data|
                          %>
                          <div class="col-xs-6">
                          <%cont+=1%>
                          <br>
                          <strong>ALTURA PISO <%= cont%>: </strong><%= physical_data.height %> m<br>
                          <strong>ANCHO PISO <%= cont%>: </strong><%= physical_data.width %> m<br>
                          <strong>LARGO PISO <%= cont%>: </strong><%= physical_data.large %> m<br>
                          <strong># EXTENSIONES DE PISO:</strong><%= physical_data.computers %><br>
                          <% if physical_data.conference_hall %>
                            <strong>SALA DE JUNTAS: </strong>Si<br>
                          <% else %>
                            <strong>SALA DE JUNTAS: </strong>No<br>
                          <% end %>
                          
                        </div>
                          <%
                        end
                      end
                  elsif @request.ctype == "Enterprise"
                  %>
                    <strong>NÚMERO DE PISOS: </strong><%= @physical.count %><br>
                    <% cont=0 %>
                    <% @physical.each do |physical_data| %>
                    <div class="col-xs-6">
                      <%cont+=1%>
                      <br>
                      <strong>ALTURA PISO <%= cont%>: </strong><%= physical_data.height %> m<br>
                      <strong>ANCHO PISO <%= cont%>: </strong><%= physical_data.width %> m<br>
                      <strong>LARGO PISO <%= cont%>: </strong><%= physical_data.large %> m<br>
                      <strong># EXTENSIONES DE PISO:</strong><%= physical_data.computers %><br>
                      <% if physical_data.conference_hall %>
                        <strong>SALA DE JUNTAS: </strong>Si<br>
                      <% else %>
                        <strong>SALA DE JUNTAS: </strong>No<br>
                      
                    </div>
                  <%end%>
                  <%end %>
                  <%end %>
                </div>
  </div>
  
  