<!Doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  <%= wicked_pdf_javascript_include_tag "number_pages" %>
</head>
<style>
  pre{
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 16px;
    
  }
</style>
<body onload='number_pages'>
  <div id="content">
    <div class="container-fluid">
      <div class="row">
        <br>
        <br>
        <center><h1>Reporte de solicitud</h1></center>
        <br>
        <h2>Resumen de empresa</h2>
        <strong>Razón Social: </strong><%= @company.name %><br>
        <strong>Misión: </strong><%= @company.mision %><br>
        <strong>Visión: </strong><%= @company.vision %><br>
        <strong>Nit. </strong><%= @company.nit %><br>
        <br>
        <h2>Resumen de solicitud</h2>
        <strong>Título. </strong><%= @request.title %><br>
        <strong>Descripción. </strong><%= @request.description %><br>
        <strong>Observaciones. </strong><%= @request.observation %><br>
        <strong>Objetivos: </strong><pre><%= @request.objective %></pre><br>
        <br>
      </div>
    </div>
    
    
    <!--Tabla Normal -->
    <div class="row">
        <h2>Tabla de resumen</h2>
        <% if @logical.redundancy? %>
        <h3>Redundancia de red</h3>
        <%end%>
        
        <table class="table table-responsive"  border="1" width= "100%">
          <thead>
            <tr>
              <th>Tipo de dispositivo</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Impresoras</td>
              <td><%= @physical.sum(:printers) %></td>
            </tr>
            <tr>
              <td>Equipos</td>
              <td><%= @physical.sum(:computers) %></td>
            </tr>
            <tr>
              <td>Servidores</td>
             
              <td><%=@servidores%></td>
            </tr>
            <tr>
              <td>Routers</td>
              <td>
                1
              </td>
            </tr>
            <tr>
              <%
              cont=0
              %>
              <td>Switches de acceso</td>
              
              
              <% if @Sw_status == 0 %>
            <td colspan="5">No disponible</td>
          <%else%>
          <% 
          totalcomputers=@total_of_computers
          
          while totalcomputers>0  do
            #@Myeq=Equipment.where('ports < ?',totalcomputers).order(:ports).last
            
            @Myeq=Equipment.where('ports < ? and power = ? and etype = ?',totalcomputers, @eco,"Switch").order(:ports).last
            
            begin
              
            #Calcular Cantidad
            
            while true
              if @Myeq.ports*cont>totalcomputers
                break
              else
                cont+=1
              end
            end
            cont-=1
            
            #Roptar Puertos
            totalcomputers-=@Myeq.ports*cont
            
            
            rescue
            #Añadir switch final
            
            #@Myeq=Equipment.where('ports > ?',totalcomputers).order(:ports).first
            
              @Myeq=Equipment.where('ports > ? and power = ? and etype = ?',totalcomputers,@eco,"Switch").order(:ports).first
              cont+=1
              totalcomputers-=@Myeq.ports*cont
            
            end
            
          
          end
          %>
            <!--<td><%=cont-(cont*0.2).ceil%></td>-->
            
            
              <td><%=cont-1%></td>
            
            </tr>
          <%end%>
          
            <tr>
              <td>Switches de distribución</td>
              <%if @logical.redundancy? %>
                <td>2</td>
              <%else%>
                <td>1</td>
              <%end%>
              
            </tr>
            <tr>
              <td>Switches de core</td>
              <%if @logical.redundancy? %>
                <td>2</td>
              <%else%>
                <td>1</td>
              <%end%>
            </tr>
            <tr>
              <td>Puntos de acceso inalambrico</td>
              <td>
                <%=@physical.count%>
              </td>
            </tr>

            <tr>
              <td><strong>Total</strong></td>
              <td>
                
                <% @Total= @physical.sum(:printers)+@physical.sum(:computers)+@servidores+1+cont+@physical.count %>
                <strong><%= @Total %></strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
                  
                  <h2>Servicios</h2>
                  <% if @request.web %>  
                  <strong>Web: </strong>Servidor Apache (HTTPd)<br>
                  <% end %>
                  <% if @request.bd %>
                  <strong>Base de datos: </strong>MySQL Server<br>
                  <% end %>
                  <% if @request.aplications %>
                  <strong>Aplicaciones: </strong>LAMP<br>
                  <% end %>
                  <% if @request.proxy %>
                  <strong>Proxy: </strong>Squid 3.5.27<br>
                  <% end %>
                  <% if @request.voip %>
                  <strong>Voip: </strong>Asterisk 15<br>
                  <% end %>
                  <% if @request.email %>
                  <strong>Correo: </strong>Exchange<br>
                  <% end %>
                  <% if @request.video_conference %>
                  <strong>Video conference: </strong>LDAP<br>
                  <% end %>
                  <% if @request.active_dir %>
                  <strong>Directorio activo: </strong>Si<br>
                  <% end %>
                  <% if @request.dhcp %>
                  <strong>Dhcp: </strong>Si<br>
                  <% end %>
                  <% if @request.dns %>
                  <strong>Dns: </strong>Si<br>
                  <% end %>
                  <% if @request.ftp %>
                  <strong>Ftp: </strong>Si<br>
                  <% end %>
                </div>
                <div class="row">
                  <h2>Aspectos Físicos</h2>
                  <strong>NÚMERO DE PISOS: </strong><%= @physical.count %><br>
                  <% cont=0 %>
                  <% @physical.each do |physical_data| %>
                  <div class="col-xs-6">
                    <%cont+=1%>
                    <br>
                    <strong>ALTURA PISO <%= cont%>: </strong><%= physical_data.height %> m<br>
                    <strong>ANCHO PISO <%= cont%>: </strong><%= physical_data.width %> m<br>
                    <strong>LARGO PISO <%= cont%>: </strong><%= physical_data.large %> m<br>
                    <strong># EXTENSIONES DE PISO:</strong><%= physical_data.computers %><br>
                    <% if physical_data.conference_hall %>
                      <strong>SALA DE JUNTAS: </strong>Si<br>
                    <% else %>
                      <strong>SALA DE JUNTAS: </strong>No<br>
                    <% end %>
                    
                  </div>
                  <br>
                  <% end %>
                  <% if @logical.redundancy? %>
                    <strong>ENLACES REDUNDANTES: </strong>Si<br>
                  <% else %>
                    <strong>ENLACES REDUNDANTES: </strong>No<br>
                  <% end%>
                  
                </div>
  </div>
</body>
</html>