<!Doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  <%= wicked_pdf_javascript_include_tag "number_pages" %>
</head>
<style>
  page-break-inside: avoid !important;
  margin: 4px 0 4px 0;
  @media print {
    table tbody tr td:before,
    table tbody tr td:after {
        content : "" ;
        height : 4px ;
        display : block ;
    }
    
}
table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
}
.avoid
{
  page-break-inside:avoid !important; page-break-after:auto !important; overflow: hidden; display:block !important; width:100% 
}
</style>
<%
    cont=0
    swdistri=0
    swaccess=0
    swcore=0
    id=0
%>
<% if @Sw_status == 0 %>
    <p>ERROR, no hay switches disponibles</p>
<%else%>
<% 
totalcomputers=@total_of_computers

while totalcomputers>0  do
#@Myeq=Equipment.where('ports < ?',totalcomputers).order(:ports).last

@Myeq=Equipment.where('ports < ? and power = ? and etype = ?',totalcomputers, @eco,"Switch").order(:ports).last

begin
  
#Calcular Cantidad

while true
  if @Myeq.ports*cont>totalcomputers
    break
  else
    cont+=1
  end
end
cont-=1

#Roptar Puertos
totalcomputers-=@Myeq.ports*cont


rescue
#Añadir switch final

#@Myeq=Equipment.where('ports > ?',totalcomputers).order(:ports).first

  @Myeq=Equipment.where('ports >= ? and power = ? and etype = ?',totalcomputers,@eco,"Switch").order(:ports).first
  cont+=1
  totalcomputers-=@Myeq.ports*cont


end


end
%>
<!--<td><%=cont-(cont*0.2).ceil%></td>-->


  
  <% swaccess=cont-1 %>

</tr>
<%end%>

<tr>
  
  <%if @logical.redundancy? %>
    
    <% swdistri=2 %>
  <%else%>
    <% swdistri=1 %>
  <%end%>
  
</tr>
<tr>
  
  <%if @logical.redundancy? %>
    
    <% swcore=2 %>
  <%else%>
    
    <% swcore=1 %>
  <%end%>
</tr>


<div class="container-fluid">
    <center><h1>Diagrama de red</h1></center>
    
    <center>
        <img src="https://instanceshape.com/admin/VLSM/Images/Router.png">
    </center>
    <hr>
    <center>
    <%
        if swcore == 1
        %>
            1<img src="https://instanceshape.com/admin/VLSM/Images/Core.png">
            <img src="https://instanceshape.com/admin/VLSM/Images/Ap.png">
            <img src="https://instanceshape.com/admin/VLSM/Images/Blanco.png">
        <%
        else
        %>
            1<img src="https://instanceshape.com/admin/VLSM/Images/Core.png">
            <img src="https://instanceshape.com/admin/VLSM/Images/Ap.png">
            <img src="https://instanceshape.com/admin/VLSM/Images/Core.png">2
        <%
        end
    %>
    </center>
    <hr>
    <center>
    <%
        if swdistri == 1
        %>
            2<img src="https://instanceshape.com/admin/VLSM/Images/Distribucion.png">
            <img src="https://instanceshape.com/admin/VLSM/Images/Blanco.png">
            <img src="https://instanceshape.com/admin/VLSM/Images/Blanco.png">
            <img src="https://instanceshape.com/admin/VLSM/Images/Blanco.png">
        <%
        else
        %>
            3<img src="https://instanceshape.com/admin/VLSM/Images/Distribucion.png">
            <img src="https://instanceshape.com/admin/VLSM/Images/Blanco.png">
            <img src="https://instanceshape.com/admin/VLSM/Images/Blanco.png">
            <img src="https://instanceshape.com/admin/VLSM/Images/Distribucion.png">4
        <%
        end
    %>
    </center>
    <hr>
    <center>
    <%
    idor=0
    if @logical.redundancy?
        id=4
        idor=4
    else
        id=2
        idor=2
    end
        aux = swaccess
        while aux>0
        id+=1
            aux-=1
            %>
                <%= id %><img src="https://instanceshape.com/admin/VLSM/Images/Acceso.png">
            <%
        end
    %>
    </center>
</div>
<hr><hr>
<div class="container-fluid">
    <h2>Cableado</h2>
        <table border="1" width="100%">
            <thead>
                <tr>
                    <th>Id Origen</th>
                    <th>Id Destino</th>
                    <th>Cable usado</th>
                </tr>
            </thead>
            <tbody>
                <% if @logical.redundancy? %>
                    <tr>
                        <td><center>3</center></td>
                        <td><center>1</center></td>
                        <td><center>F.O. Multimodo</center></td>
                    </tr>
                    <tr>
                        <td><center>4</center></td>
                        <td><center>1</center></td>
                        <td><center>F.O. Multimodo</center></td>
                    </tr>
                    <tr>
                        <td><center>3</center></td>
                        <td><center>2</center></td>
                        <td><center>F.O. Multimodo</center></td>
                    </tr>
                    <tr>
                        <td><center>4</center></td>
                        <td><center>2</center></td>
                        <td><center>F.O. Multimodo</center></td>
                    </tr>
                    <%
                    iddes=id
                    aux = idor
                    while aux<iddes
                    aux+=1
                    %>
                    <tr>
                        <td><center><%=aux%></center></td>
                        <td><center>3</center></td>
                        <td><center>UTP</center></td>
                    </tr>
                    <tr>
                        <td><center><%=aux%></center></td>
                        <td><center>4</center></td>
                        <td><center>UTP</center></td>
                    </tr>
                    <% 
                        end 
                    %>
                <% else %>
                    <tr>
                        <td><center>2</center></td>
                        <td><center>1</center></td>
                        <td><center>F.O. Multimodo</center></td>
                    </tr>
                    <%
                    iddes=id
                    aux = idor
                    while aux<iddes
                    aux+=1
                    %>
                    <tr>
                        <td><center><%=aux%></center></td>
                        <td><center>2</center></td>
                        <td><center>UTP</center></td>
                    </tr>
                    <% 
                        end 
                    %>
                <% end %>
                
                
            </tbody>
        </table>
    <% subnit=0 %>
    <h2>Velocidades</h2>
        <% 
            @subnets.order(computers: :desc, name: :asc).each do |subnet|
                subnit+=subnet.computers
            end 
        %>
        <table border="1" width="100%">
            <thead>
                <tr>
                    <th>Id Origen</th>
                    <th>Id Destino</th>
                    <th>Velocidad</th>
                </tr>
            </thead>
            <tbody>
                <% if @logical.redundancy? %>
                    <tr>
                        <td><center>3</center></td>
                        <td><center>1</center></td>
                        <td><center><%=subnit+1%> GBASE-SR</center></td>
                    </tr>
                    <tr>
                        <td><center>4</center></td>
                        <td><center>1</center></td>
                        <td><center><%=subnit+1%> GBASE-SR</center></td>
                    </tr>
                    <tr>
                        <td><center>3</center></td>
                        <td><center>2</center></td>
                        <td><center><%=subnit+1%> GBASE-SR</center></td>
                    </tr>
                    <tr>
                        <td><center>4</center></td>
                        <td><center>2</center></td>
                        <td><center><%=subnit+1%> GBASE-SR</center></td>
                    </tr>
                    
                    <%
                    iddes=id
                    aux = idor
                    while aux<iddes
                    aux+=1
                    %>
                    <tr>
                        <td><center><%=aux%></center></td>
                        <td><center>3</center></td>
                        <td><center><%=subnit%> GBASE-SR</center></td>
                    </tr>
                    <tr>
                        <td><center><%=aux%></center></td>
                        <td><center>4</center></td>
                        <td><center><%=subnit%> GBASE-SR</center></td>
                    </tr>
                    <% 
                        end 
                    %>
                <% else %>
                    <tr>
                        <td><center>2</center></td>
                        <td><center>1</center></td>
                        <td><center><%=subnit+1%> GBASE-SR</center></td>
                    </tr>
                    <%
                    iddes=id
                    aux = idor
                    while aux<iddes
                    aux+=1
                    %>
                    <tr>
                        <td><center><%=aux%></center></td>
                        <td><center>2</center></td>
                        <td><center><%=subnit%> GBASE-SR</center></td>
                    </tr>
                    <% 
                        end 
                    %>
                <% end %>
            </tbody>
        </table>
    
    <h2>Direccionamiento</h2>
        <table class="table table-responsive"  border="1" width= "100%">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Dirección de host</th>
            </tr>
          </thead>
          <tbody>
            
            <% @subnets.order(computers: :desc, name: :asc).each do |subnet| %>
              <tr>
                <td><center><%=subnet.name%></center></td>
                <td><center><%= @h[subnet.name]["firstHost"]%>/<%= @h[subnet.name]["cidr"]%></center></td>
              </tr>
            <% end %>
          </tbody>
          </table>
    
</div>