<!Doctype html><html><head>  <meta charset='utf-8' />  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>  <%= wicked_pdf_javascript_include_tag "number_pages" %></head><style>  page-break-inside: avoid !important;  margin: 4px 0 4px 0;  @media print {    table tbody tr td:before,    table tbody tr td:after {        content : "" ;        height : 4px ;        display : block ;    }}table, tr, td, th, tbody, thead, tfoot {    page-break-inside: avoid !important;}.avoid{  page-break-inside:avoid !important; page-break-after:auto !important; overflow: hidden; display:block !important; width:100% }</style>
<h1>Datos importantes, información de red</h1>
<h2>Lista de pisos ordenados por número de computadores</h2>
<%
contador_de_switches=0
aux=0
@physical.each do |physical|
    aux+=1
    %>
    <h3>Piso <%=aux%> (<%=physical.height%>m x <%=physical.width%>m x <%=physical.large%>m)</h3>
    <p>Edificio <%=physical.building.name%><br><%=physical.computers%> computadores</p>
    <%
    begin
    the_switch = TheSwitch.where('numberports > ? and ports_id = 1', physical.computers)
    %>
        <!--<%=the_switch.first.numberports%> -->
    <%
    rescue
    the_switch = TheSwitch.where('numberports < ? and ports_id = 1', physical.computers)
    %>
        <!--<%=the_switch.first.numberports%> -->
    <%
    end
    cantidad_switches=(physical.computers.to_f/the_switch.first.numberports.to_f).to_f.ceil
    contador_de_switches+=cantidad_switches.ceil
    %>
    <strong>Se usaran <%=cantidad_switches.ceil%> switches de <%=the_switch.first.numberports%> puertos</strong>
    <%
end
%>
<div class="content">
    <h2>Tabla de Switches</h2>
    <table border="1" width="100%"><thead><tr><th>Id</th><th>Información</th><th>Puertos</th><th>Tipo de puerto</th><th>Velocidad</th></tr></thead>
    <tbody>
        <%
        if @logical.redundancy?
            aux=4
        else
            aux=2
        end 
        i=0
        while aux>0
        i+=1
        aux-=1
        the_switch = TheSwitch.where('numberports >= 1 and ports_id = 5')
        switch=Switch.find(the_switch.first.switches_id)
        port=Port.find(the_switch.first.ports_id)
        %>
            <tr><td><%=i%></td><td><%=switch.name%></td><td><%=the_switch.first.numberports%></td><td><%=port.name%></td><td><%=port.speed%> Gbps</td></tr>
        <%
        end
        
        superi=i
        
        aux=0
        @physical.each do |physical|
            aux+=1
            begin
            the_switch = TheSwitch.where('numberports > ? and ports_id = 1', physical.computers)
            %>
                <!--<%=the_switch.first.numberports%> -->
            <%
            rescue
            the_switch = TheSwitch.where('numberports < ? and ports_id = 1', physical.computers)
            %>
                <!--<%=the_switch.first.numberports%> -->
            <%
            end
            cantidad_switches=(physical.computers.to_f/the_switch.first.numberports.to_f).to_f.ceil
            switch=Switch.find(the_switch.first.switches_id)
            port=Port.find(the_switch.first.ports_id)
            while cantidad_switches>0
            cantidad_switches-=1
            i+=1
            %>
                <tr><td><%=i%></td><td><%=switch.name%></td><td><%=the_switch.first.numberports%></td><td><%=port.name%></td><td><%=port.speed%> Gbps</td></tr>
            <%
            end
        end
        
        
        
        %>
        
    </tr></tbody>
    </table>
</div>
<div class="container-fluid">
    <center><h1>Diagrama de red</h1></center>
    <center><h4><%=@request.ctype%></h4></center>















<!-- Inicio gráfico -->
<% if @request.ctype=="Campus" %>
    <center>
        <%
        if @logical.redundancy?
            %><img src="https://instanceshape.com/admin/VLSM/Images/redundante.png"><%
        else
            %><img src="https://instanceshape.com/admin/VLSM/Images/no-redundante.png"><%
        end
        %>
    </center>
<% else %>
    <center>
        <%
        if @logical.redundancy?
            %><img src="https://instanceshape.com/admin/VLSM/Images/campus_redundante.png"><%
        else
            %><img src="https://instanceshape.com/admin/VLSM/Images/campus_no-redundante.png"><%
        end
        %>
    </center>
<%end%>
<center>
    <%
    i=superi
    aux=contador_de_switches
    while aux>0
    aux-=1
    i+=1
    %>
        <%=i%><img src="https://instanceshape.com/admin/VLSM/Images/Acceso.png">
    <%
    end
    %>
</center>
</div>
<!--Direccionamiento-->
<hr>
    <div class="container-fluid">
    <h2>Direccionamiento</h2>
    <table class="table table-responsive"  border="1" width= "100%">
      <thead><tr><th>Nombre</th><th>Dirección de host</th></tr></thead>
      <tbody>
        <% @subnets.order(computers: :desc, name: :asc).each do |subnet| %>
          <tr><td><center><%=subnet.name%></center></td><td><center><%= @h[subnet.name]["firstHost"]%>/<%= @h[subnet.name]["cidr"]%></center></td></tr>
        <% end %>
      </tbody>
    </table>
    
</div>
