<div class="container-fluid">
    <center><h1>Diagrama de red</h1></center>
    <center><%= wicked_pdf_image_tag 'Router.png' %></center>
    
    <center>
        
        <%= wicked_pdf_image_tag 'Switch.png' %>
        <%= wicked_pdf_image_tag 'Ap.png' %>
        <%= wicked_pdf_image_tag 'Switch.png' %>
        
    </center>
    <center>
        <%= wicked_pdf_image_tag 'Distribucion.png' %>
        <%= wicked_pdf_image_tag 'Blanco.png' %>
        <%= wicked_pdf_image_tag 'Blanco.png' %>
        <%= wicked_pdf_image_tag 'Distribucion.png' %>
    </center>
    <center>
        <%= wicked_pdf_image_tag 'Distribucion.png' %>
        <%= wicked_pdf_image_tag 'Distribucion.png' %>
        <%= wicked_pdf_image_tag 'Blanco.png' %>
        <%= wicked_pdf_image_tag 'Blanco.png' %>
        <%= wicked_pdf_image_tag 'Blanco.png' %>
        <%= wicked_pdf_image_tag 'Distribucion.png' %>
        <%= wicked_pdf_image_tag 'Distribucion.png' %>
    </center>
</div>