<!Doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  <%= wicked_pdf_javascript_include_tag "number_pages" %>
</head>
<body onload='number_pages'>
  <div id="content">
    <div class="container-fluid">
      <div class="row">
        <h2>Configuraci칩n de DHCP</h2>
        <p>
          ip dhcp excluded-address <%= @logical.host1 %>.<%= @logical.host2 %>.<%= @logical.host3 %>.<%= @logical.host4 %><br>
          !<br>
          ip dhcp pool dpool1<br>
             import all<br>
             network <%= @logical.host1 %>.<%= @logical.host2 %>.<%= @logical.host3 %>.<%= @logical.host4 %> 255.255.255.0<br>
             default-router <%= @logical.host1 %>.<%= @logical.host2 %>.<%= @logical.host3 %>.<%= @logical.host4+1 %><br>
             dns-server 192.168.35.2<br>
             domain-name <%=@company.name%>.com<br>
          !<br>
          ip domain name <%=@company.name%>.com<br>
          ip name-server <%= @logical.host1 %>.<%= @logical.host2 %>.<%= @logical.host3+1 %>.<%= @logical.host4+1 %><br>
        </p>
      </div>
      <div class="row">
        <h2>Configuraci칩n de RIP</h2>
        <p>
          R1#configure terminal<br>
          R1(config)#router rip<br>
          R1(config-router)#version 2<br>
          R1(config-router)#network <%= @logical.host1 %>.<%= @logical.host2 %>.<%= @logical.host3 %>.<%= @logical.host4 %><br>
          R1(config-router)#no auto-summary<br>
          R1(config-router)#end<br>
          
          <%
          if @logical.security?
          %>
          <h2>Configuraciones de seguridad</h2>
          <i>Comandos para ingresar en modo privilegiado</i>
          <pre>
            R1(config)#enable secret cisco
          </pre>
          <i>Comandos para ingresar contrase침a al ingreso por telnet</i>
          <pre>
            R1(config)#line vty 0 4
            R1(config-line)#password class0
            R1(config-line)#login
            R1(config-line)#exit
          </pre>
          <i>Comandos para ingresar contrase침a al ingreso por consola</i>
          <pre>
            R1(config)#line console 0
            R1(config-line)#password class1
          </pre>
          <%
          end
          %>
        </p>
      </div>
      
      <div class="row">
        <h2>Enrutamiento de VLANS</h2>
        <% vlan_number=0%>
        <% @subnets.each do |vlan| %>
        <%vlan_number+=1%>
          <% if vlan.name != "default" %>
            
            <p>
              interface < GigabitEthernet9/0>.<%=vlan_number*10%><br>
              encapsulation dot1Q <%=vlan_number*10%><br>
              ip address <%= @h[vlan.name]["firstHost"]%> <%= @h[vlan.name]["mask"]%><br>
              no shutdown<br>
              exit<br>
            </p>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
</body>
</html>