<!Doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  <%= wicked_pdf_javascript_include_tag "number_pages" %>
</head>
<body onload='number_pages'>
  <div id="content">
    <div class="container-fluid">
      <div class="row">
        <h1>Scripts de Switches</h1>
        <h2>Configuración de VLANs</h2>
        <% vlan_number=0%>
        <% @subnets.each do |vlan| %>
        <%vlan_number+=1%>
          <% if vlan.name != "default" %>
            <h2>VLAN número <%=vlan_number%></h2>
            <p>
              Switch# configure terminal<br>
              Switch(config)# vlan <#<%=vlan_number*10%>><br>
              Switch(config-vlan)# name <#<%=vlan.name%>><br>
              Switch(config-vlan)# end<br>
            </p>
          <%end%>
        <%end%>
        
        <h2>Configuración de STP</h2>
        <p>
          !!!!!!!!!!!!!!!!!!!!!!!!!! SPANNING TREE CONFIGURATION !!!!!!!!!!!!!!!!!!!!<br>
          !<br>
          ! Turn on privileged commands<br>
          enable<br>
          !<br>
          ! Enter configuration mode<br>
          configure terminal<br>
          !<br>
          ! Configure this switch as primary root for this spanning tree<br>
          spanning-tree vlan < BEGIN-END> root primary<br>
          !<br>
          ! Per-Vlan rapid spanning tree mode<br>
          spanning-tree mode rapid-pvst<br>
          !<br>
          ! Change an interface's spanning tree port priority<br>
          interface < INTERFACE_NUMBER><br>
          spanning-tree vlan < BEGIN-END> port-priority < NUMBER><br>
          !<br>
          ! Exit from interface configuration mode<br>
          exit<br>
          !<br>
          ! Enable an interface to move directly to forwarding on link up<br>
          !<br>
          interface range < INTERFACE_NUMBER><br>
          spanning-tree portfast<br>
          spanning-tree bpduguard enable<br>
          !!<br>
          !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! SAVING !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
          !<br>
          ! Exit from configure mode<br>
          exit<br>
          !<br>
          ! Copy from current system configuration to startup configuration<br>
          copy running-config startup-config<br>
        </p>
      </div>
      <%
      if @logical.security?
        %>
        <h2>Configuraciones de seguridad</h2>
        <i>Comandos para ingresar en modo privilegiado</i>
        <pre>
          Switch1>enable
          Switch1# configure terminal
          Switch1(config)#enable secret [‘aqui iria la contraseña dinamica’]
          Switch1(config)# exit
          Switch1# exit
        </pre>
        <i>Comandos para ingresar contraseña al ingreso por telnet</i>
        <pre>
          Switch1>enable
          Switch1# configure terminal
          Switch1(config)# line vty 0 4
          Switch1(config)# password [‘aqui iria la contraseña dinamica’]
          Switch1(config)# login
          Switch1(config)# exit
          Switch1# exit
        </pre>
        <i>Comandos para ingresar contraseña al ingreso por consola</i>
        <pre>
          Switch1>enable
          Switch1# configure terminal
          Switch1(config)#line console 0 
          Switch1(config-line)#password [‘aqui iria la contraseña dinamica’]
          Switch1(config)# exit
          Switch1# exit
        </pre>
      <%
        end
      %>
      
      <div class="row">
        <h2>Enrutamiento de VLANS</h2>
        <% vlan_number=0%>
        <% inicio=1%>
        <% final=8%>
        <p>//Configuración en SW de Acceso</p>
        <% @subnets.each do |vlan| %>
        
        <%vlan_number+=1%>
          <% 
          if vlan_number==1
            #next
          end
          
          if final>24
            inicio=1
            final=24
          end
          %>
            <pre>
              interface range fastEthernet0/<%=inicio%>-<%=final%>
              switchport mode access
              switchport access vlan <%=vlan_number*10%>
              exit
            </pre>
            <% inicio+=8%>
            <% final+=8%>
          <%end%>
        
        <pre>
          <%vlan_number+=1%>
          interface range gigabitEthernet1/1-2
          switchport mode trunk
          switchport trunk native vlan <%=vlan_number*10%>
          exit
        </pre>
      </div>
      <hr>
      
<%
contador_de_switches=0
aux=0
@physical.each do |physical|
  aux+=1
  %>
  <!--<h3>Piso <%=aux%> (<%=physical.height%>m x <%=physical.width%>m x <%=physical.large%>m)</h3>
  <p>Edificio <%=physical.building.name%><br><%=physical.computers%> computadores</p>-->
  <%
  begin
  the_switch = TheSwitch.where('numberports > ? and ports_id = 1', physical.computers).order('numberports desc')
  %>
      <!--<%=the_switch.first.numberports%> -->
  <%
  rescue
  the_switch = TheSwitch.where('numberports < ? and ports_id = 1', physical.computers).order('numberports desc')
  %>
      <!--<%=the_switch.first.numberports%> -->
  <%
  end
  cantidad_switches=(physical.computers.to_f/the_switch.first.numberports.to_f).to_f.ceil
  contador_de_switches+=cantidad_switches.ceil
  %>
  
  /////////////////////////////////////////////////////////////<br>
  interface range GIgabitEthernet1/1-<%=the_switch.first.numberports%><br>
  channel-protocol pagp <br>
  channel-group 1 mode desirable<br>
  
  <%
  
  
  %>
  <!--<strong>Se usaran <%=cantidad_switches.ceil%> switches de <%=the_switch.first.numberports%> puertos</strong>-->
  <%
end
%>
      
      
      
      <!--<h2><%=contador_de_switches%> switches de acceso</h2>-->
      
      
      
      
      
      
      
      
      
      
      
      
      













<hr>
      <%vlan_number=0%>
      <div class="row">
          <% @subnets.each do |vlan| %>
        
        <%vlan_number+=1%>
          <% 
          
          
          if final>24
            inicio=1
            final=24
          end
          %>
            <p>
              /////////////////////////////////////////////////////<br>
              interface vlan <%=vlan_number*10%><br>
              ip address <%=@h[vlan.name]["subnet"]%> <%=@h[vlan.name]["mask"]%><br>
              no shutdown<br>
              exit<br>
            </p>
            <% inicio+=8%>
            <% final+=8%>
          <%end%>
      </div>
      
    </div>
  </div>
</body>
</html>