<p id="notice"><%= notice %></p>
<br><br><br><br><br><br>
<p>
  <strong>Usuario:</strong>
  <%= @binnacle.user.email %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @binnacle.company %>
</p>

<p>
  <strong>Acción:</strong>
  <%= @binnacle.action %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @binnacle.description %>
</p>

<%= link_to 'Editar', edit_binnacle_path(@binnacle) %> |
<%= link_to 'Atrás', binnacles_path %>
