<%= form_for(@equipment) do |f| %>
  <% if @equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
      <% @equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-4"></div>
<div class="col-md-4">
  <div class="field">
    <h3>Marca</h3>
    <%= f.text_field :brand, :class => "form-control" %>
  </div>
  <div class="field">
    <h3>Tipo</h3>
    <select name="equipment[etype]" id="equipment[etype]" class="form-control">
      <option value="Switch">Switch</option>
      <option value="Router">Router</option>
      <option value="Rack">Rack</option>
      <option value="Cable">Cable</option>
    </select>
  </div>
  <div class="field">
    <h3>Refencia</h3>
    <%= f.text_field :reference , :class => "form-control"%>
  </div>

  <div class="field">
    <h3>Precio</h3>
    <%= f.number_field :price , :class => "form-control"%>
  </div>
  <div class="field">
    <h3>Puertos</h3>
    <%= f.number_field :ports , :class => "form-control"%>
  </div>
  <div class="field">
    <h3>Slots (Opcional)</h3>
    <%= f.number_field :slots , :class => "form-control"%>
  </div>
  
  <div class="field">
    <h3>Potencia</h3>
    <select name="equipment[power]" id="equipment[power]" class="form-control">
      <option value="1">Baja</option>
      <option value="2">Media</option>
      <option value="3">Alta</option>
    </select>
  </div>
  <div class="actions">
    <input type="submit" class="btn btn-default" value="Agregar">
  </div>
  </div>
  <div class="col-md-4"></div>
<% end %>
