<style>
.form-control {
    background-color: #F3F2EE;
    border: 1px solid #e8e7e3;
    border-radius: 4px;
    color: #66615b;
    font-size: 14px;
    padding: 7px 18px;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
}  

.btn{
    background-color: #5e8283;
    color: #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;
    border-width: 2px;
    font-size: 14px;
    font-weight: 600;
    padding: 7px 18px;
    color: white;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}

h3 {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}

bootstrap.min.css:8

}
</style>

<%= form_for(@equipment) do |f| %>
  <% if @equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
      <% @equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-4"></div>
<div class="col-md-4">
  <div class="field">
    <h3>Tipo</h3>
    <select name="equipment[etype]" id="equipment[etype]" class="form-control" onchange="Equipos()">
      <option value="Switch">Switch</option>
      <option value="Router">Router</option>
      <option value="Rack">Rack</option>
      <option value="Cable">Cable</option>
      <option value="Canaleta">Canaleta</option>
      <option value="Toma">Toma</option>
      <option value="Conector">Conector</option>
      <option value="AP">AP</option>
    </select>
  </div>
  <div class="field">
    <h3 id="equipment_brand1">Descripción</h3>
    <%= f.text_field :brand, :class => "form-control" , :required => "true"%>
  </div>
  
  <div class="field">
    <h3 id="equipment_reference1" >Refencia</h3>
    <%= f.text_field :reference , :class => "form-control", :required => "true"%>
  </div>

  <div class="field">
    <h3 id="equipment_price1">Precio</h3>
    <%= f.number_field :price , :class => "form-control", :required => "true" %>
  </div>
  <div class="field">
    <h3 id="equipment_ports1">Puertos usables (opcional)</h3>
    <%= f.number_field :ports , :class => "form-control"%>
  </div>
  <div class="field">
    <h3 id="equipment_slots1">Slots (opcional)</h3>
    <%= f.number_field :slots , :class => "form-control"%>
  </div>
  
  <div class="field">
    <h3 id="equipment_power1">Potencia</h3>
    <select name="equipment[power]" id="equipment[power]" class="form-control">
      <option value="1">Baja</option>
      <option value="2">Media</option>
      <option value="3">Alta</option>
    </select>
  </div>
  <div class="actions">
    <center><input type="submit" class="btn btn-default" value="Agregar"></center>
  </div>
  </div>
  <div class="col-md-4"></div>
<% end %>
<script>
  function Equipos()
  {
    var tipo = document.getElementById("equipment[etype]").value
    
    switch (tipo)
    {
      case "Switch":
        {
          document.getElementById("equipment_brand").style.display="inline-block";
          document.getElementById("equipment_reference").style.display="inline-block";
          document.getElementById("equipment_price").style.display="inline-block";
          document.getElementById("equipment_ports").style.display="inline-block";
          document.getElementById("equipment_slots").style.display="inline-block";
          
          document.getElementById("equipment_brand1").style.display="inline-block";
          document.getElementById("equipment_reference1").style.display="inline-block";
          document.getElementById("equipment_price1").style.display="inline-block";
          document.getElementById("equipment_ports1").style.display="inline-block";
          document.getElementById("equipment_slots1").style.display="inline-block";
          
          document.getElementById("equipment_power1").innerHTML="Potencia";
          document.getElementById("equipment_brand1").innerHTML="Descripción";
        }break;
      case "Router":
        {
          document.getElementById("equipment_brand").style.display="inline-block";
          document.getElementById("equipment_reference").style.display="inline-block";
          document.getElementById("equipment_price").style.display="inline-block";
          document.getElementById("equipment_ports").style.display="none";
          document.getElementById("equipment_slots").style.display="inline-block";
          
          document.getElementById("equipment_brand1").style.display="inline-block";
          document.getElementById("equipment_reference1").style.display="inline-block";
          document.getElementById("equipment_price1").style.display="inline-block";
          document.getElementById("equipment_ports1").style.display="none";
          document.getElementById("equipment_slots1").style.display="inline-block";
          
          document.getElementById("equipment_power1").innerHTML="Potencia";
          document.getElementById("equipment_brand1").innerHTML="Marca";
        }break;
      case "Rack":
        {
          document.getElementById("equipment_brand").style.display="inline-block";
          document.getElementById("equipment_reference").style.display="inline-block";
          document.getElementById("equipment_price").style.display="inline-block";
          document.getElementById("equipment_ports").style.display="none";
          document.getElementById("equipment_slots").style.display="inline-block";
          
          document.getElementById("equipment_brand1").style.display="inline-block";
          document.getElementById("equipment_reference1").style.display="inline-block";
          document.getElementById("equipment_price1").style.display="inline-block";
          document.getElementById("equipment_ports1").style.display="none";
          document.getElementById("equipment_slots1").style.display="inline-block";
          
          document.getElementById("equipment_power1").innerHTML="Calidad";
          document.getElementById("equipment_brand1").innerHTML="Marca";
        }break;
      case "Cable":
      {
          document.getElementById("equipment_brand").style.display="inline-block";
          document.getElementById("equipment_reference").style.display="inline-block";
          document.getElementById("equipment_price").style.display="inline-block";
          document.getElementById("equipment_ports").style.display="none";
          document.getElementById("equipment_slots").style.display="none";
          
          document.getElementById("equipment_brand1").style.display="inline-block";
          document.getElementById("equipment_reference1").style.display="inline-block";
          document.getElementById("equipment_price1").style.display="inline-block";
          document.getElementById("equipment_ports1").style.display="none";
          document.getElementById("equipment_slots1").style.display="none";
          
          document.getElementById("equipment_power1").innerHTML="Calidad";
          document.getElementById("equipment_brand1").innerHTML="Marca";
      }break;
      case "Canaleta":
      {
          document.getElementById("equipment_brand").style.display="inline-block";
          document.getElementById("equipment_reference").style.display="inline-block";
          document.getElementById("equipment_price").style.display="inline-block";
          document.getElementById("equipment_ports").style.display="none";
          document.getElementById("equipment_slots").style.display="none";
          
          document.getElementById("equipment_brand1").style.display="inline-block";
          document.getElementById("equipment_reference1").style.display="inline-block";
          document.getElementById("equipment_price1").style.display="inline-block";
          document.getElementById("equipment_ports1").style.display="none";
          document.getElementById("equipment_slots1").style.display="none";
          
          document.getElementById("equipment_power1").innerHTML="Calidad";
          document.getElementById("equipment_brand1").innerHTML="Marca";
      }break;
      case "Toma":
      {
          document.getElementById("equipment_brand").style.display="inline-block";
          document.getElementById("equipment_reference").style.display="inline-block";
          document.getElementById("equipment_price").style.display="inline-block";
          document.getElementById("equipment_ports").style.display="none";
          document.getElementById("equipment_slots").style.display="none";
          
          document.getElementById("equipment_brand1").style.display="inline-block";
          document.getElementById("equipment_reference1").style.display="inline-block";
          document.getElementById("equipment_price1").style.display="inline-block";
          document.getElementById("equipment_ports1").style.display="none";
          document.getElementById("equipment_slots1").style.display="none";
          
          document.getElementById("equipment_power1").innerHTML="Calidad";
          document.getElementById("equipment_brand1").innerHTML="Marca";
      }break;
      case "Conector":
      {
          document.getElementById("equipment_brand").style.display="inline-block";
          document.getElementById("equipment_reference").style.display="inline-block";
          document.getElementById("equipment_price").style.display="inline-block";
          document.getElementById("equipment_ports").style.display="none";
          document.getElementById("equipment_slots").style.display="none";
          
          document.getElementById("equipment_brand1").style.display="inline-block";
          document.getElementById("equipment_reference1").style.display="inline-block";
          document.getElementById("equipment_price1").style.display="inline-block";
          document.getElementById("equipment_ports1").style.display="none";
          document.getElementById("equipment_slots1").style.display="none";
          
          document.getElementById("equipment_power1").innerHTML="Calidad";
          document.getElementById("equipment_brand1").innerHTML="Marca";
      }break;
      case "AP":
        {
          document.getElementById("equipment_brand").style.display="inline-block";
          document.getElementById("equipment_reference").style.display="inline-block";
          document.getElementById("equipment_price").style.display="inline-block";
          document.getElementById("equipment_ports").style.display="none";
          document.getElementById("equipment_slots").style.display="none";
          
          document.getElementById("equipment_brand1").style.display="inline-block";
          document.getElementById("equipment_reference1").style.display="inline-block";
          document.getElementById("equipment_price1").style.display="inline-block";
          document.getElementById("equipment_ports1").style.display="none";
          document.getElementById("equipment_slots1").style.display="none";
          
          document.getElementById("equipment_power1").innerHTML="Potencia";
          document.getElementById("equipment_brand1").innerHTML="Marca";
        }break;
    }
    
  }
</script>