<p id="notice"><%= notice %></p>

<h1>Equipos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Marca</th>
      <th>Tipo</th>
      <th>Referencia</th>
      <th>Precio</th>
      <th>Slots</th>
      <th>Potencia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= equipment.brand %></td>
        <td><%= equipment.etype %></td>
        <td><%= equipment.reference %></td>
        <td><%= equipment.ports %></td>
        <td><%= equipment.price %></td>
        <td><%= equipment.slots %></td>
        <td><%= equipment.power %></td>
        <td><%= link_to 'Ver', equipment %></td>
        <td><%= link_to 'Editar', edit_equipment_path(equipment) %></td>
        <td><%= link_to 'Eliminar', equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo', new_equipment_path %>
