<p id="notice"><%= notice %></p>
<div class="col-md-4"></div>
<div class="col-md-4">
  <h2>Resumen de equipo</h2>
<p>
  <h3>Marca</h3>
  <%= @equipment.brand %>
</p>

<p>
  <h3>Tipo</h3>
  <%= @equipment.etype %>
</p>

<p>
  <h3>Referencia</h3>
  <%= @equipment.reference %>
</p>

<p>
  <h3>Precio</h3>
  <%= @equipment.price %>
</p>

<p>
  <h3>Puertos</h3>
  <%= @equipment.ports %>
</p>

<p>
  <h3>Potencia</h3>
  <%= @equipment.power %>
</p>

<p>
  <h3>Slots</h3>
  <%= @equipment.slots %>
</p>

<%= link_to 'Editar', edit_equipment_path(@equipment) %> |
<%= link_to 'Atrás', equipment_index_path %>
</div>
<div class="col-md-4"></div>