<%= form_for(@switch) do |f| %>
  <% if @switch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@switch.errors.count, "error") %> prohibited this switch from being saved:</h2>

      <ul>
      <% @switch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
<div class="col-sm-offset-4 col-sm-4">
  <div class="field">
    <label>Nombre</label>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="field">
    <label>Referencia</label>
    <%= f.text_field :reference, :class => "form-control" %>
  </div>
  <div class="field">
    <label>Precio</label>
    <%= f.number_field :price, :class => "form-control" %>
  </div>
  
  <% 
  aux=0
  @ports.each do |port|
    aux+=1
  %>
  <center><div class="field">
    <label><%=port.name%> - <%=port.speed%> Gbps</label><br>
    <input type="hidden" name="idpuerto<%=aux%>" value="<%=port.id%>">
    <label>Número de puertos<input type="number" name="puerto<%=aux%>" placeholder="Número de puertos" class="form-control" value="0"></label>
  </div></center>
  <%
  end
  %>
  
  <input type="hidden" name="numerodepuertos" value="<%=aux%>">
  
  <div class="actions">
    <center><input type="submit" class="btn btn-default" value="Agregar"></center>
  </div>
<% end %>
</div>
<div class="col-sm-4">
  
</div>
</div>
