<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">
    <center></center>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3>Título de solicitud</h3>
      <%= f.text_field :title, :class => "form-control" %>
    </div>
    <div class="col-md-4"></div>
    
  </div>
  <input type="hidden" value="<%= params[:company_id]%>" name="company_id">
  <div class="field row">

  	<center></center>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3>Descripción de solicitud</h3>
      <textarea class="form-control" type="text" name="request[description]" id="request_description"></textarea>
    </div>
    <div class="col-md-4"></div>

    
  </div>
  <div class="field row">

  	<center></center>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3>Objetivos de solicitud</h3>
      <%= f.text_field :objective, :class => "form-control" %>
    </div>
    <div class="col-md-4"></div>

  </div>
  <div class="field row">

  	<center></center>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3>Observaciones</h3>
      <%= f.text_field :observation, :class => "form-control" %>
    </div>
    <div class="col-md-4"></div>

    
  </div>
  <div class="row">
    
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3>Requerimientos adicionales</h3>
      <%= f.check_box :web %> Servidor Web<br>
      <%= f.check_box :bd %> Servidor de base de datos<br>
      <%= f.check_box :aplications %> Servidor de aplicaciones<br>
      <%= f.check_box :proxy %> Servidor proxy<br>
      <%= f.check_box :voip %> Servidor VoIP<br>
      <%= f.check_box :video_conference %> Servicio Videoconferencia<br>
      <%= f.check_box :active_dir %> Directorio activo<br>
      <%= f.check_box :dhcp %> Servicio DHCP<br>
      <%= f.check_box :dns %> Servidor DNS<br>
      <%= f.check_box :ftp %> Servidor FTP<br>
      <%= f.check_box :email %> Servidor de correo electrónico<br>
    </div>
    <div class="col-md-4"></div>
  </div>
  <br>
  <div class="actions">
    <center><input type="submit" class="btn btn-default" value="Continuar"></center>
  </div>
<% end %>
