<p id="notice"><%= notice %></p>

<h1>Mis empresas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <!--<th>User</th>-->
      <th>Nit</th>
      <th>Misión</th>
      <th>Visión</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <!--<td><%= company.user %></td>-->
        <td><%= company.nit %></td>
        <td><%= company.mision %></td>
        <td><%= company.vision %></td>
        <td><%= link_to 'Reporte', company_path(:id => company.id,:format => "pdf") %></td>
        <td><%= link_to 'Direccionamiento', company_path(:id => company.id,:format => "pdf") %></td>
        <td><%= link_to 'Reporte', company_path(:id => company.id,:format => "pdf") %></td>
        <td><%= link_to 'Reporte', company_path(:id => company.id,:format => "pdf") %></td>
        <td><%= link_to 'Editar', edit_company_path(company) %></td>
        <td><%= link_to 'Eliminar', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva', new_company_path, :class => "btn btn-default" %>
