<p id="notice"><%= notice %></p>
<br>
<br><br>
<br><br>
<br><br>
<br>
<center>
<!--<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @company.user.email %>
</p>

<p>
  <strong>Nit:</strong>
  <%= @company.nit %>
</p>

<p>
  <strong>Mision:</strong>
  <%= @company.mision %>
</p>

<p>
  <strong>Vision:</strong>
  <%= @company.vision %>
</p>
-->
<center>
  <h1>La empresa "<%= @company.name %>" se ha registrado satisfactoriamente, ahora procederemos a registrar la solicitud</h1>
</center>
<a href="/requests/new?company_id=<%= @company.id%>" class="btn btn-default">Solicitud</a>
<br>
<br>
</center>