    <% @request=Request.where(:company_id => @company.id).first %>
<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  <%= wicked_pdf_javascript_include_tag "number_pages" %>
</head>
<body onload='number_pages'>
  <div id="content">
    

    <div class="container-fluid">
      <center><h1><%=@company.name%></h1></center>
      <h2>Datos de empresa</h2>
      <table class="table table-responsive"  border="1" width= "100%">
          <tbody>
              <tr>
                  <th><p><strong>Título: </strong><%=@request.title%></p></th>
                  <th><p><strong>Descipción: </strong>      <%=@request.description%></p></th>
              </tr>
              <tr>
                  <th><p><strong>Observaciones: </strong>      <%=@request.observation%></p></th>
                  <th>      <p><strong>Misión: </strong>      <%=@company.mision%></p></th>
              </tr>
              <tr>
                  <th><p><strong>Visión: </strong>      <%=@company.vision%></p></th>
                  <th><p><strong>Nit: </strong>      <%=@company.nit%></p></th>
              </tr>
              <tr>
                  <th><p><strong>Objetivos: </strong>      <%=@request.objective%></p></th>
                  
              </tr>
             
          </tbody>
      </table>
      
      
      

      
      
      
      

      
      
      <h2>Servicios</h2>
      
      <% if @request.web %>  
      <p>
        <strong>Web</strong>
      </p>
      <% end %>

      <% if @request.bd %>
      <p>
        <strong>Base de datos</strong>
      </p>
      <% end %>


      <% if @request.aplications %>
      <p>
        <strong>Aplicaciones</strong>
      </p>
      <% end %>

      <% if @request.proxy %>
      <p>
        <strong>Proxy</strong>
        
      </p>
      <% end %>

      <% if @request.voip %>
      <p>
        <strong>Voip:</strong>
        
      </p>
      <% end %>


      <% if @request.video_conference %>
      <p>
        <strong>Video conference:</strong>
      </p>
      <% end %>

      <% if @request.active_dir %>
      <p>
        <strong>Directorio activo:</strong>
      </p>
      <% end %>

      <% if @request.dhcp %>
      <p>
        <strong>Dhcp:</strong>
      </p>
      <% end %>


      <% if @request.dns %>
      <p>
        <strong>Dns:</strong>
      </p>
      <% end %>

      <% if @request.ftp %>
      <p>
        <strong>Ftp:</strong>
        <%= @request.ftp %>
      </p>
      <% end %>
      
      
    </div>
  </div>
</body>
</html>
