<style>
.form-control {
    background-color: #F3F2EE;
    border: 1px solid #e8e7e3;
    border-radius: 4px;
    color: #66615b;
    font-size: 14px;
    padding: 7px 18px;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
}  

.btn{
    background-color: #5e8283;
    color: #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;
    border-width: 2px;
    font-size: 14px;
    font-weight: 600;
    padding: 7px 18px;
    color: white;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}

h3 {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}

bootstrap.min.css:8

}
</style>

<div class="row">
  <div class="col-md-10 col-md-offset-4">
    <h2>Iniciar Sesión</h2>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="col-md-4"></div>
<div class="col-md-4">
  <div class="field">
    <h3>Correo electrónico</h3>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control", :class => "form-control", :placeholder => "Correo electrónico" %>
  </div>

  <div class="field">
    <h3>Contraseña</h3>
    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Contraseña" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
  
  <center>
    <div class="actions">
      <input type="submit" value="Ingresar" class="btn btn-default">
    </div>  
  </center>
  
<% end %>

<%= render "devise/shared/links" %>
</div>
  <div class="col-md-4"></div>