<%= form_for(@ethernet) do |f| %>
  <% if @ethernet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ethernet.errors.count, "error") %> prohibited this ethernet from being saved:</h2>

      <ul>
      <% @ethernet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :speed %><br>
    <%= f.number_field :speed %>
  </div>
  <div class="field">
    <%= f.label :distance %><br>
    <%= f.number_field :distance %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
