<%= form_for(@logical) do |f| %>
  <% if @logical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@logical.errors.count, "error") %> prohibited this logical from being saved:</h2>

      <ul>
      <% @logical.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <input type="hidden" name="request_id" value="<%= params[:request_id]%>">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    
  <div class="field">
    <h3>Escalabilidad</h3>
    <%= f.number_field :scalability, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.check_box :redundancy %> Redundancia 
  </div>
  <div class="field">
    <%= f.check_box :scripts %> Generar scripts
  </div>
  <div class="field">
    <%= f.check_box :iptable %> Generar tabla de IP
  </div>
  <div class="field">
    <label>Host</label> <br>
    <div class="row">
      <div class="col-md-3"> <%= f.number_field :host1 , :placeholder => "192", :class => "form-control" , :required => "true", :min => 0, :max => 255 %>.</div>
    <div class="col-md-3"><%= f.number_field :host2 , :placeholder => "168", :class => "form-control", :required => "true", :min => 0, :max => 255 %>.</div>
<div class="col-md-3"><%= f.number_field :host3 , :placeholder => "0", :class => "form-control", :required => "true" , :min => 0, :max => 255 %>.</div>
<div class="col-md-3"><%= f.number_field :host4 , :placeholder => "1", :class => "form-control", :required => "true", :min => 0, :max => 255 %></div>
    </div>
    
  </div>
  <div class="actions">
    <input type="submit" class="btn btn-default" value="Continuar">
  </div>
  </div>
  <div class="col-md-4"></div>
  
<% end %>
