<p id="notice"><%= notice %></p>
<br><br><br><br><br><br><br><br>
<center>
<p>
  <strong>Redundancy:</strong>
  <%= @logical.redundancy %>
</p>

<p>
  <strong>Scalability:</strong>
  <%= @logical.scalability %>
</p>

<p>
  <strong>Subnets:</strong>
  <%= @logical.subnets %>
</p>

<p>
  <strong>Subnet description:</strong>
  <%= @logical.subnet_description %>
</p>

<p>
  <strong>Scripts:</strong>
  <%= @logical.scripts %>
</p>

<p>
  <strong>Iptable:</strong>
  <%= @logical.iptable %>
</p>

<p>
  <strong>Host:</strong>
  <%= @logical.host1 %>.<%= @logical.host2 %>.<%= @logical.host3 %>.<%= @logical.host4 %>
</p>

<%= link_to 'Reporte', report_index_path({:request_id => @logical.request.id}), :class => "btn btn-default"%>
<br>

<%= link_to 'Edit', edit_logical_path(@logical) %> |
<%= link_to 'Back', logicals_path %>
</center>