<%= form_for(@physical) do |f| %>
  <% if @physical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@physical.errors.count, "error") %> prohibited this physical from being saved:</h2>

      <ul>
      <% @physical.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="field">
    <%= f.label :request_id %><br>
    <%= f.text_field :request_id %>
  </div>-->
  <input type="hidden" name="request_id" value="<%= params[:request_id]%>">
  <div class="field">
    <%= f.label :height %><br>
    <%= f.number_field :height, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :width %><br>
    <%= f.number_field :width, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :large %><br>
    <%= f.number_field :large , :class => "form-control"%>
  </div>
  <div class="field">
    <%= f.label :computers %><br>
    <%= f.number_field :computers, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :printers %><br>
    <%= f.number_field :printers, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :conference_hall %><br>
    <%= f.check_box :conference_hall %>
  </div>
  <div class="actions">
    <input type="submit" class="btn btn-default" value="Continuar">
  </div>
<% end %>
