<%= form_for(@physical) do |f| %>
  <% if @physical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@physical.errors.count, "error") %> prohibited this physical from being saved:</h2>

      <ul>
      <% @physical.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="field">
    <%= f.label :request_id %><br>
    <%= f.text_field :request_id %>
  </div>-->
  
  <input type="hidden" name="request_id" value="<%= params[:request_id]%>">
  
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="field">
    <h3>Altura de piso en m<sup>2</sup></h3>
    <%= f.number_field :height, :class => "form-control", :max => 10, :min => 2 %>
  </div>
  <div class="field">
  <h3>Ancho de piso en m<sup>2</sup></h3>
    <%= f.number_field :width, :class => "form-control", :required => "true", :max => 20, :min => 2 %>
  </div>
  <div class="field">
    <h3>Largo de piso en m<sup>2</sup></h3>
    <%= f.number_field :large , :class => "form-control", :required => "true", :max => 20, :min => 2%>
  </div>
  <div class="field">
    <h3>Número de computadores para esta sala</h3>
    <%= f.number_field :computers, :class => "form-control", :required => "true", :min => 0 %>
  </div>
  <div class="field">
    <h3>Número de impresoras para esta sala</h3>
    <%= f.number_field :printers, :class => "form-control", :required => "true", :min => 0 %>
  </div>
  <div class="field">
    <%= f.check_box :conference_hall %> La sala cuenta con salón de conferencias
  </div>
  <div class="actions">
    <input type="submit" class="btn btn-default" value="Continuar">
  </div>
  </div>
  <div class="col-md-4"></div>
  
<% end %>
